In [1]:
import pandas as pd
import re
import json
pd.options.mode.chained_assignment = None

In [2]:
df = pd.read_csv("AN-1068-final-python.csv")

In [3]:
df.head()

,step_id,status,client,uid_anon,id_anon,reply,feedback
0,5205,2,web,4924,2194,"{""language"": ""python3"", ""code"": ""print(\""Learn...","{""message"": ""Passed. Congratulations! It is yo..."
1,5205,2,PyCharmCore,4757,2736,"{""choices"": null, ""score"": null, ""solution"": n...","{""message"": ""Passed. Congratulations! It is yo..."
2,5205,2,web,4925,3664,"{""language"": ""python3"", ""code"": ""print(\""Learn...","{""message"": ""Passed. Congratulations! It is yo..."
3,5205,2,web,4935,5133,"{""language"": ""python3"", ""code"": ""print(\""Learn...","{""message"": ""Passed. Congratulations! It is yo..."
4,5205,2,web,4773,5726,"{""language"": ""python3"", ""code"": ""print(\""Learn...","{""message"": ""Passed. Congratulations! It is yo..."

In [4]:
df.groupby('status')['id_anon'].count()

status
1    2434549
2    2188691
Name: id_anon, dtype: int64

In [5]:
df.groupby('client')['id_anon'].count()

client
Idea              2351
IdeaEdu           3150
PyCharmCore     180123
PyCharmEdu      236225
Python          157684
ide                 53
idea              5356
internal         82729
web            3883207
Name: id_anon, dtype: int64

In [6]:
def label(row):
    if row['status'] == 2:             
        try:
            #print(row['feedback'],'\n')
            json_data = json.loads(row['feedback'],strict=False)   
            if (len(json_data['code_style']['errors'])==0):
                return 'Correct'  
            else:
                return 'Style'
        except Exception as e:
            return "Correct, unknown style"
    else: 
        s = row['feedback']
        if s.find('Compilation error') != -1:
            return 'CE'
        if s.find('Runtime error') != -1:
            return 'RE'   
        if s.find('Time limit exceeded') != -1:
            return 'TL'
        if s.find('Perhaps') != -1:
            return 'Check error'      
        if (s.find('Failed test')) or (s.find('Wrong answer')) != -1:
            return 'WA'          
        return 'UND'

In [7]:
df['solution_label'] = df.apply (lambda row: label(row), axis=1)
df

,step_id,status,client,uid_anon,id_anon,reply,feedback,solution_label
0,5205,2,web,4924,2194,"{""language"": ""python3"", ""code"": ""print(\""Learn...","{""message"": ""Passed. Congratulations! It is yo...",Correct
1,5205,2,PyCharmCore,4757,2736,"{""choices"": null, ""score"": null, ""solution"": n...","{""message"": ""Passed. Congratulations! It is yo...",Correct
2,5205,2,web,4925,3664,"{""language"": ""python3"", ""code"": ""print(\""Learn...","{""message"": ""Passed. Congratulations! It is yo...",Correct
3,5205,2,web,4935,5133,"{""language"": ""python3"", ""code"": ""print(\""Learn...","{""message"": ""Passed. Congratulations! It is yo...",Correct
4,5205,2,web,4773,5726,"{""language"": ""python3"", ""code"": ""print(\""Learn...","{""message"": ""Passed. Congratulations! It is yo...",Correct
...,...,...,...,...,...,...,...,...
4623235,17476,1,web,50035,32258804,"{""language"": ""python3"", ""code"": ""a = int(input...","""Failed test #2 of 4. Wrong answer\n\nThis is ...",WA
4623236,17476,1,web,50035,32261160,"{""language"": ""python3"", ""code"": ""a = int(input...","""Failed test #1 of 4. Wrong answer\n\nThis is ...",WA
4623237,17476,2,web,50035,32261307,"{""language"": ""python3"", ""code"": ""a = int(input...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct
4623238,17476,2,PyCharmCore,47049,32268590,"{""choices"": null, ""score"": """", ""solution"": nul...","{""message"": """", ""code_style"": {""quality"": {""co...",Style
4623239,17476,1,PyCharmEdu,49796,32280954,"{""choices"": null, ""score"": """", ""solution"": nul...","""Failed test #1 of 4. Wrong answer\n\nThis is ...",WA

In [8]:
df.pivot_table(values='id_anon', index = 'client', \
                     columns= 'solution_label', aggfunc= 'count', fill_value=0)

solution_label,CE,Check error,Correct,"Correct, unknown style",RE,Style,TL,WA
client,,,,,,,,
Idea,0,21,871,0,298,390,3,768
IdeaEdu,0,40,1043,0,493,524,7,1043
PyCharmCore,56,1707,67194,1,24568,29660,758,56179
PyCharmEdu,75,2461,92008,1,30799,38196,1059,71626
Python,24,1508,63333,0,19319,27091,459,45950
ide,0,0,21,0,6,7,0,19
idea,2,36,2678,0,460,822,6,1352
internal,0,3,41242,0,1972,36106,70,3336
web,470,46482,1155352,4,1020517,567017,15016,1078349

In [9]:
df.groupby('solution_label')['id_anon'].count()

solution_label
CE                            627
Check error                 52260
Correct                   1472251
Correct, unknown style          6
RE                        1101379
Style                      716434
TL                          17443
WA                        1262840
Name: id_anon, dtype: int64

In [10]:
df_error = df[df['solution_label'] == 'RE']
df_error

,step_id,status,client,uid_anon,id_anon,reply,feedback,solution_label
236,5205,1,web,5277,216053,"{""language"": ""python3"", ""code"": ""I love leon.\...","""Failed. Runtime error\n\nError:\n File \""jai...",RE
237,5205,1,web,5277,216098,"{""language"": ""python3"", ""code"": ""I love leo.\n...","""Failed. Runtime error\n\nError:\n File \""jai...",RE
238,5205,1,web,5277,216124,"{""language"": ""python3"", ""code"": ""I love monkey...","""Failed. Runtime error\n\nError:\n File \""jai...",RE
239,5205,1,web,5277,216179,"{""language"": ""python3"", ""code"": ""The monkeys w...","""Failed. Runtime error\n\nError:\n File \""jai...",RE
240,5205,1,web,5277,216218,"{""language"": ""python3"", ""code"": ""The monkey is...","""Failed. Runtime error\n\nError:\n File \""jai...",RE
...,...,...,...,...,...,...,...,...
4623208,17476,1,web,45957,32038448,"{""language"": ""python3"", ""code"": ""a = int(input...","""Failed test #1 of 4. Runtime error\n\nThis is...",RE
4623220,17476,1,web,38585,32148433,"{""language"": ""python3"", ""code"": ""lenght = int(...","""Failed test #1 of 4. Runtime error\n\nThis is...",RE
4623227,17476,1,web,49621,32178593,"{""language"": ""python3"", ""code"": ""box_length = ...","""Failed test #1 of 4. Runtime error\n\nThis is...",RE
4623229,17476,1,web,2894,32200330,"{""language"": ""python3"", ""code"": ""a = int(input...","""Failed test #1 of 4. Runtime error\n\nThis is...",RE
4623234,17476,1,web,50035,32258782,"{""language"": ""python3"", ""code"": ""a = int(input...","""Failed test #1 of 4. Runtime error\n\nThis is...",RE

In [11]:
df_error.head(10)

,step_id,status,client,uid_anon,id_anon,reply,feedback,solution_label
236,5205,1,web,5277,216053,"{""language"": ""python3"", ""code"": ""I love leon.\...","""Failed. Runtime error\n\nError:\n File \""jai...",RE
237,5205,1,web,5277,216098,"{""language"": ""python3"", ""code"": ""I love leo.\n...","""Failed. Runtime error\n\nError:\n File \""jai...",RE
238,5205,1,web,5277,216124,"{""language"": ""python3"", ""code"": ""I love monkey...","""Failed. Runtime error\n\nError:\n File \""jai...",RE
239,5205,1,web,5277,216179,"{""language"": ""python3"", ""code"": ""The monkeys w...","""Failed. Runtime error\n\nError:\n File \""jai...",RE
240,5205,1,web,5277,216218,"{""language"": ""python3"", ""code"": ""The monkey is...","""Failed. Runtime error\n\nError:\n File \""jai...",RE
241,5205,1,web,5277,216260,"{""language"": ""python3"", ""code"": ""The monkey ar...","""Failed. Runtime error\n\nError:\n File \""jai...",RE
242,5205,1,web,5277,216520,"{""language"": ""python3"", ""code"": ""The monkey ar...","""Failed. Runtime error\n\nError:\n File \""jai...",RE
273,5205,1,web,5335,247761,"{""language"": ""python3"", ""code"": ""\nPrint(\""Lea...","""Failed. Runtime error\n\nError:\nTraceback (m...",RE
274,5205,1,web,5335,247780,"{""language"": ""python3"", ""code"": ""\nPrint(\""Lea...","""Failed. Runtime error\n\nError:\nTraceback (m...",RE
409,5205,1,web,5561,381230,"{""language"": ""python3"", ""code"": ""\n\n\nPrint(\...","""Failed. Runtime error\n\nError:\nTraceback (m...",RE

In [12]:
df.loc[236,'reply']

'{"language": "python3", "code": "I love leon.\\nThe bird looking good...\\nCamel is hungry.\\n"}'

In [13]:
df.loc[236,'feedback']

'"Failed. Runtime error\\n\\nError:\\n  File \\"jailed_code\\", line 1\\n    I love leon.\\n         ^\\nSyntaxError: invalid syntax\\n"'

In [14]:
import regex as re

def find(string):
    find = re.findall(r'\\n[\w\.]*: .*', string, overlapped=True)
    if 'unrecognized arguments' in string:
        return 'unrecognized arguments' 
    try:
        return find[-1][2:].split('\\n')[0]         
    except:
        if (len(string)>10000):
            return 'Endless output'
        last_line = string.split('\\n')[-2]
        if (len(last_line.split()) == 1):
            return last_line
        return 'error'      
    

find(df.loc[273,'feedback'])

"NameError: name 'Print' is not defined"

In [15]:
df_error['error_message'] = df_error['feedback'].apply(find)
df_error

,step_id,status,client,uid_anon,id_anon,reply,feedback,solution_label,error_message
236,5205,1,web,5277,216053,"{""language"": ""python3"", ""code"": ""I love leon.\...","""Failed. Runtime error\n\nError:\n File \""jai...",RE,SyntaxError: invalid syntax
237,5205,1,web,5277,216098,"{""language"": ""python3"", ""code"": ""I love leo.\n...","""Failed. Runtime error\n\nError:\n File \""jai...",RE,SyntaxError: invalid syntax
238,5205,1,web,5277,216124,"{""language"": ""python3"", ""code"": ""I love monkey...","""Failed. Runtime error\n\nError:\n File \""jai...",RE,SyntaxError: invalid syntax
239,5205,1,web,5277,216179,"{""language"": ""python3"", ""code"": ""The monkeys w...","""Failed. Runtime error\n\nError:\n File \""jai...",RE,SyntaxError: invalid syntax
240,5205,1,web,5277,216218,"{""language"": ""python3"", ""code"": ""The monkey is...","""Failed. Runtime error\n\nError:\n File \""jai...",RE,SyntaxError: invalid syntax
...,...,...,...,...,...,...,...,...,...
4623208,17476,1,web,45957,32038448,"{""language"": ""python3"", ""code"": ""a = int(input...","""Failed test #1 of 4. Runtime error\n\nThis is...",RE,NameError: name 'sort' is not defined
4623220,17476,1,web,38585,32148433,"{""language"": ""python3"", ""code"": ""lenght = int(...","""Failed test #1 of 4. Runtime error\n\nThis is...",RE,NameError: name 'heght' is not defined
4623227,17476,1,web,49621,32178593,"{""language"": ""python3"", ""code"": ""box_length = ...","""Failed test #1 of 4. Runtime error\n\nThis is...",RE,SyntaxError: invalid syntax
4623229,17476,1,web,2894,32200330,"{""language"": ""python3"", ""code"": ""a = int(input...","""Failed test #1 of 4. Runtime error\n\nThis is...",RE,NameError: name 'false' is not defined
4623234,17476,1,web,50035,32258782,"{""language"": ""python3"", ""code"": ""a = int(input...","""Failed test #1 of 4. Runtime error\n\nThis is...",RE,SyntaxError: invalid syntax

In [16]:
df_error[df_error['error_message'] == 'error']

,step_id,status,client,uid_anon,id_anon,reply,feedback,solution_label,error_message
39698,6267,1,web,24,1869,"{""language"": ""python3"", ""code"": ""import random...","""[ ] Test #1. Runtime error\n[ ] Test #2. Runt...",RE,error
39742,6267,1,web,4202,143564,"{""language"": ""python3"", ""code"": ""import random...","""[ ] Test #1. Runtime error\n[ ] Test #2. Runt...",RE,error
39743,6267,1,web,4202,143838,"{""language"": ""python3"", ""code"": ""import random...","""[ ] Test #1. Runtime error\n[ ] Test #2. Runt...",RE,error
39744,6267,1,web,4202,143885,"{""language"": ""python3"", ""code"": ""import random...","""[ ] Test #1. Runtime error\n[ ] Test #2. Runt...",RE,error
39747,6267,1,web,5025,158478,"{""language"": ""python3"", ""code"": ""import random...","""[ ] Test #1. Runtime error\n[ ] Test #2. Runt...",RE,error
...,...,...,...,...,...,...,...,...,...
4603422,10159,1,web,48938,31903976,"{""language"": ""python3"", ""code"": ""class Area:\n...","""[ ] Test #1. Runtime error\n[ ] Test #2. Runt...",RE,error
4603427,10160,1,web,43474,30998741,"{""language"": ""python3"", ""code"": ""class Time:\n...","""[ ] Test #1. Runtime error\n[ ] Test #2. Runt...",RE,error
4603430,10160,1,web,1865,31163429,"{""language"": ""python3"", ""code"": ""class Time:\n...","""[ ] Test #1. Runtime error\n[ ] Test #2. Runt...",RE,error
4603431,10160,1,web,1865,31163437,"{""language"": ""python3"", ""code"": ""class Time:\n...","""[ ] Test #1. Runtime error\n[ ] Test #2. Runt...",RE,error
4603441,10160,1,web,46623,31706289,"{""language"": ""python3"", ""code"": ""class Time:\n...","""[ ] Test #1. Runtime error\n[ ] Test #2. Runt...",RE,error

In [17]:
df.loc[4603441,'reply']

'{"language": "python3", "code": "class Time:\\n\\n    def __init__(self, hour, minute):\\n        self.hour = hour\\n        self.minute = minute\\n\\n    # use appropriate decorator\\n    @classmethod\\n    def from_string(cls, data):\\n        hour, minute = data.split(\' \')\\n        return cls(hour, minute)\\n"}'

In [18]:
df.loc[4623220,'reply']

'{"language": "python3", "code": "lenght = int(input())\\nwidth = int(input())\\nheight = int(input())\\ndemin = [lenght, width, heght]\\nx = int(input())\\ny = int(input())\\ndemin.sort()\\nif x < y:\\n    if x >= demin[0] and y >= demin[1]:\\n        print(\\"The box can be carried\\")\\nelif x > y:\\n    if y >= demin[0] and x >= demin[1]:\\n        print(\\"The box can be carried\\")\\n    \\nelse:\\n    print(\\"The box cannot be carried\\")\\n"}'

In [19]:
df.loc[4623220,'feedback']

'"Failed test #1 of 4. Runtime error\\n\\nThis is a sample test from the problem statement!\\n\\nTest input:\\n24\\n21\\n11\\n36\\n80\\nCorrect output:\\nThe box can be carried\\n\\nYour code output:\\n\\n\\nError:\\nTraceback (most recent call last):\\n  File \\"jailed_code\\", line 4, in <module>\\n    demin = [lenght, width, heght]\\nNameError: name \'heght\' is not defined\\n"'

In [20]:
df_error['error_type'] = df_error['error_message'].apply(lambda x: x.split(':')[0])
df_error

,step_id,status,client,uid_anon,id_anon,reply,feedback,solution_label,error_message,error_type
236,5205,1,web,5277,216053,"{""language"": ""python3"", ""code"": ""I love leon.\...","""Failed. Runtime error\n\nError:\n File \""jai...",RE,SyntaxError: invalid syntax,SyntaxError
237,5205,1,web,5277,216098,"{""language"": ""python3"", ""code"": ""I love leo.\n...","""Failed. Runtime error\n\nError:\n File \""jai...",RE,SyntaxError: invalid syntax,SyntaxError
238,5205,1,web,5277,216124,"{""language"": ""python3"", ""code"": ""I love monkey...","""Failed. Runtime error\n\nError:\n File \""jai...",RE,SyntaxError: invalid syntax,SyntaxError
239,5205,1,web,5277,216179,"{""language"": ""python3"", ""code"": ""The monkeys w...","""Failed. Runtime error\n\nError:\n File \""jai...",RE,SyntaxError: invalid syntax,SyntaxError
240,5205,1,web,5277,216218,"{""language"": ""python3"", ""code"": ""The monkey is...","""Failed. Runtime error\n\nError:\n File \""jai...",RE,SyntaxError: invalid syntax,SyntaxError
...,...,...,...,...,...,...,...,...,...,...
4623208,17476,1,web,45957,32038448,"{""language"": ""python3"", ""code"": ""a = int(input...","""Failed test #1 of 4. Runtime error\n\nThis is...",RE,NameError: name 'sort' is not defined,NameError
4623220,17476,1,web,38585,32148433,"{""language"": ""python3"", ""code"": ""lenght = int(...","""Failed test #1 of 4. Runtime error\n\nThis is...",RE,NameError: name 'heght' is not defined,NameError
4623227,17476,1,web,49621,32178593,"{""language"": ""python3"", ""code"": ""box_length = ...","""Failed test #1 of 4. Runtime error\n\nThis is...",RE,SyntaxError: invalid syntax,SyntaxError
4623229,17476,1,web,2894,32200330,"{""language"": ""python3"", ""code"": ""a = int(input...","""Failed test #1 of 4. Runtime error\n\nThis is...",RE,NameError: name 'false' is not defined,NameError
4623234,17476,1,web,50035,32258782,"{""language"": ""python3"", ""code"": ""a = int(input...","""Failed test #1 of 4. Runtime error\n\nThis is...",RE,SyntaxError: invalid syntax,SyntaxError

In [21]:
df_error.groupby('error_message')['id_anon'].count().nlargest(40)

error_message
SyntaxError: invalid syntax                                                                                      277414
EOFError: EOF when reading a line                                                                                 36872
SyntaxError: EOL while scanning string literal                                                                    28318
TypeError: 'int' object is not iterable                                                                           21929
SyntaxError: unexpected EOF while parsing                                                                         20315
IndentationError: unexpected indent                                                                               14686
IndentationError: expected an indented block                                                                      13647
IndexError: list index out of range                                                                               12518
TypeError: 'str' object is not callable                                                                           10871
NameError: name 'str_' is not defined                                                                              9506
TypeError: 'int' object is not subscriptable                                                                       9136
TypeError: must be str, not int                                                                                    8442
SyntaxError: unexpected character after line continuation character                                                7523
TypeError: can't multiply sequence by non-int of type 'str'                                                        7498
SyntaxError: keyword can't be an expression                                                                        6736
TypeError: int() argument must be a string, a bytes-like object or a number, not 'builtin_function_or_method'      6608
TypeError: unsupported operand type(s) for +: 'int' and 'str'                                                      6004
SyntaxError: Missing parentheses in call to 'print'                                                                5877
NameError: name 'Happy' is not defined                                                                             5810
TypeError: 'builtin_function_or_method' object is not subscriptable                                                5663
NameError: name 'a' is not defined                                                                                 5600
NameError: name 'x' is not defined                                                                                 5552
TypeError: not all arguments converted during string formatting                                                    5463
IndentationError: unindent does not match any outer indentation level                                              5123
TypeError: 'type' object is not subscriptable                                                                      5016
SyntaxError: 'return' outside function                                                                             4447
NameError: name 'Print' is not defined                                                                             4431
SyntaxError: can't assign to function call                                                                         4419
NameError: name 'n' is not defined                                                                                 4405
error                                                                                                              4295
TypeError: 'int' object is not callable                                                                            4237
NameError: name 'type_of' is not defined                                                                           4146
NameError: name 'number' is not defined                                                                            4142
SyntaxError: EOF while scanning triple-quoted string literal                                                       3853
TypeError: unsupported operand type(s) for -: 'str' and 'str'                                                      3707
SyntaxError: invalid character in identifier                                                                       3557
SyntaxError: can't assign to operator                                                                              3554
TypeError: add_book() takes 0 positional arguments but 1 was given                                                 3470
NameError: name 'string' is not defined                                                                            3273
IndexError: string index out of range                                                                              3150
Name: id_anon, dtype: int64

In [22]:
df_error[df_error['error_type']=="SyntaxError"]

,step_id,status,client,uid_anon,id_anon,reply,feedback,solution_label,error_message,error_type
236,5205,1,web,5277,216053,"{""language"": ""python3"", ""code"": ""I love leon.\...","""Failed. Runtime error\n\nError:\n File \""jai...",RE,SyntaxError: invalid syntax,SyntaxError
237,5205,1,web,5277,216098,"{""language"": ""python3"", ""code"": ""I love leo.\n...","""Failed. Runtime error\n\nError:\n File \""jai...",RE,SyntaxError: invalid syntax,SyntaxError
238,5205,1,web,5277,216124,"{""language"": ""python3"", ""code"": ""I love monkey...","""Failed. Runtime error\n\nError:\n File \""jai...",RE,SyntaxError: invalid syntax,SyntaxError
239,5205,1,web,5277,216179,"{""language"": ""python3"", ""code"": ""The monkeys w...","""Failed. Runtime error\n\nError:\n File \""jai...",RE,SyntaxError: invalid syntax,SyntaxError
240,5205,1,web,5277,216218,"{""language"": ""python3"", ""code"": ""The monkey is...","""Failed. Runtime error\n\nError:\n File \""jai...",RE,SyntaxError: invalid syntax,SyntaxError
...,...,...,...,...,...,...,...,...,...,...
4623175,17476,1,web,1469,31737440,"{""language"": ""python3"", ""code"": ""box = [int(in...","""Failed test #1 of 4. Runtime error\n\nThis is...",RE,SyntaxError: invalid syntax,SyntaxError
4623178,17476,1,web,1469,31737875,"{""language"": ""python3"", ""code"": ""box = [int(in...","""Failed test #1 of 4. Runtime error\n\nThis is...",RE,SyntaxError: invalid syntax,SyntaxError
4623207,17476,1,web,45957,32038397,"{""language"": ""python3"", ""code"": ""a = int(input...","""Failed test #1 of 4. Runtime error\n\nThis is...",RE,SyntaxError: invalid syntax,SyntaxError
4623227,17476,1,web,49621,32178593,"{""language"": ""python3"", ""code"": ""box_length = ...","""Failed test #1 of 4. Runtime error\n\nThis is...",RE,SyntaxError: invalid syntax,SyntaxError
4623234,17476,1,web,50035,32258782,"{""language"": ""python3"", ""code"": ""a = int(input...","""Failed test #1 of 4. Runtime error\n\nThis is...",RE,SyntaxError: invalid syntax,SyntaxError

In [23]:
def test_failed(string):
    try:
        return int(string.split('#')[1].split(' ')[0])
    except:
        return 0
    
test_failed(df.loc[481980,'feedback'])

1

In [24]:
df_error['number'] = df_error['feedback'].apply(test_failed)
df_error

,step_id,status,client,uid_anon,id_anon,reply,feedback,solution_label,error_message,error_type,number
236,5205,1,web,5277,216053,"{""language"": ""python3"", ""code"": ""I love leon.\...","""Failed. Runtime error\n\nError:\n File \""jai...",RE,SyntaxError: invalid syntax,SyntaxError,0
237,5205,1,web,5277,216098,"{""language"": ""python3"", ""code"": ""I love leo.\n...","""Failed. Runtime error\n\nError:\n File \""jai...",RE,SyntaxError: invalid syntax,SyntaxError,0
238,5205,1,web,5277,216124,"{""language"": ""python3"", ""code"": ""I love monkey...","""Failed. Runtime error\n\nError:\n File \""jai...",RE,SyntaxError: invalid syntax,SyntaxError,0
239,5205,1,web,5277,216179,"{""language"": ""python3"", ""code"": ""The monkeys w...","""Failed. Runtime error\n\nError:\n File \""jai...",RE,SyntaxError: invalid syntax,SyntaxError,0
240,5205,1,web,5277,216218,"{""language"": ""python3"", ""code"": ""The monkey is...","""Failed. Runtime error\n\nError:\n File \""jai...",RE,SyntaxError: invalid syntax,SyntaxError,0
...,...,...,...,...,...,...,...,...,...,...,...
4623208,17476,1,web,45957,32038448,"{""language"": ""python3"", ""code"": ""a = int(input...","""Failed test #1 of 4. Runtime error\n\nThis is...",RE,NameError: name 'sort' is not defined,NameError,1
4623220,17476,1,web,38585,32148433,"{""language"": ""python3"", ""code"": ""lenght = int(...","""Failed test #1 of 4. Runtime error\n\nThis is...",RE,NameError: name 'heght' is not defined,NameError,1
4623227,17476,1,web,49621,32178593,"{""language"": ""python3"", ""code"": ""box_length = ...","""Failed test #1 of 4. Runtime error\n\nThis is...",RE,SyntaxError: invalid syntax,SyntaxError,1
4623229,17476,1,web,2894,32200330,"{""language"": ""python3"", ""code"": ""a = int(input...","""Failed test #1 of 4. Runtime error\n\nThis is...",RE,NameError: name 'false' is not defined,NameError,1
4623234,17476,1,web,50035,32258782,"{""language"": ""python3"", ""code"": ""a = int(input...","""Failed test #1 of 4. Runtime error\n\nThis is...",RE,SyntaxError: invalid syntax,SyntaxError,1

In [25]:
df_error.groupby('number')['step_id'].count()

number
0     420047
1     658062
2      17126
3       2752
4       1222
5        423
6        425
7        604
8        139
9        194
10       175
11        23
12        11
13        63
14         9
15        24
17        18
18         2
26        28
27         8
37        10
43        14
Name: step_id, dtype: int64

In [26]:
df.loc[481980,'feedback'].split('\\n')

['"Failed test #1 of 2. Runtime error',
 '',
 'Error:',
 'usage: 200 [-h]',
 '200: error: unrecognized arguments: --number 200',
 '"']

In [27]:
len(pd.unique(df_error['error_type']))

75

In [28]:
df_error.groupby('error_type')['id_anon'].count().nlargest(40)

error_type
SyntaxError                            382637
TypeError                              256680
NameError                              223669
AttributeError                          65327
EOFError                                36874
ValueError                              35151
IndentationError                        33771
IndexError                              18941
ZeroDivisionError                        6285
KeyError                                 5589
UnboundLocalError                        5136
error                                    4295
FileNotFoundError                        3870
sre_constants.error                      2985
ModuleNotFoundError                      2763
OverflowError                            2722
AssertionError                           1994
requests.exceptions.ConnectionError      1899
RecursionError                           1511
ImportError                              1415
io.UnsupportedOperation                  1296
MemoryError                              1221
StopIteration                             667
RuntimeError                              663
socket.timeout                            624
TabError                                  555
requests.exceptions.MissingSchema         547
unrecognized arguments                    451
UnicodeDecodeError                        380
bs4.FeatureNotFound                       228
OSError                                   214
LookupError                               155
json.decoder.JSONDecodeError              124
requests.exceptions.InvalidSchema          86
ArithmeticError                            81
__main__.NotInBoundsError                  73
lxml.etree.XMLSyntaxError                  72
jailed_code                                54
Endless output                             48
__main__.NotWordError                      43
Name: id_anon, dtype: int64

In [29]:
df.loc[3858231,'reply']

'{"language": "python3", "code": "b_length = int(input())\\nb_width = int(input())\\nb_height = int(input())\\nd_width = int(input())\\nd_height = int(input())\\n\\ndoor = d_width * d_height\\nbox_size1 = b_length * b_width\\nbox_size2 = b_width * b_height\\nbox_size3 = b_height * b_length\\n\\nif door == box_size1:\\n    print(\\"The box can be carried\\")\\nelif door == box_size2:\\n    print(\\"The box can be carried\\")\\nelif door == box_size3:\\n    print(\\"The box can be carried\\")\\nelse:\\n    print(\\"The box cannot be carried\\")\\n"}'

In [30]:
df.loc[236,'feedback'].split('\\n')[-2]

'SyntaxError: invalid syntax'

In [31]:
df.loc[4622551,'feedback']

'"Failed test #1 of 5. Runtime error\\n\\nThis is a sample test from the problem statement!\\n\\nTest input:\\n567\\nCorrect output:\\n-567\\n\\nYour code output:\\n\\n\\nError:\\nTraceback (most recent call last):\\n  File \\"jailed_code\\", line 2, in <module>\\n    a = int(input)\\nTypeError: int() argument must be a string, a bytes-like object or a number, not \'builtin_function_or_method\'\\n"'

In [32]:
df_tasks = df.pivot_table(values='id_anon', index = 'step_id', \
                     columns= 'solution_label', aggfunc= 'count', fill_value=0)
df_tasks

solution_label,CE,Check error,Correct,"Correct, unknown style",RE,Style,TL,WA
step_id,,,,,,,,
5205,0,5829,20993,0,1537,425,0,25
5209,0,0,16562,0,4667,1770,0,3326
5212,0,0,25493,0,10501,2911,0,18005
5235,0,11069,23950,0,3957,2231,0,3020
5237,0,0,18543,0,3084,1160,2,11559
...,...,...,...,...,...,...,...,...
17433,0,0,2,0,84,96,0,6
17436,0,0,0,0,68,78,0,6
17476,0,0,371,0,415,443,0,868
17987,0,0,1,0,0,1,0,0
17989,0,0,0,0,6,3,0,0

In [33]:
df_tasks['total'] = df_tasks['CE'] + df_tasks['Check error'] + df_tasks['Correct'] + df_tasks['Correct, unknown style'] + df_tasks['RE'] + df_tasks['Style'] + df_tasks['TL'] + df_tasks['WA']
df_tasks

solution_label,CE,Check error,Correct,"Correct, unknown style",RE,Style,TL,WA,total
step_id,,,,,,,,,
5205,0,5829,20993,0,1537,425,0,25,28809
5209,0,0,16562,0,4667,1770,0,3326,26325
5212,0,0,25493,0,10501,2911,0,18005,56910
5235,0,11069,23950,0,3957,2231,0,3020,44227
5237,0,0,18543,0,3084,1160,2,11559,34348
...,...,...,...,...,...,...,...,...,...
17433,0,0,2,0,84,96,0,6,188
17436,0,0,0,0,68,78,0,6,152
17476,0,0,371,0,415,443,0,868,2097
17987,0,0,1,0,0,1,0,0,2
17989,0,0,0,0,6,3,0,0,9

In [34]:
df_tasks['rate'] = (df_tasks['Correct'] + df_tasks['Correct, unknown style'] + df_tasks['Style'])/df_tasks['total']
df_tasks

solution_label,CE,Check error,Correct,"Correct, unknown style",RE,Style,TL,WA,total,rate
step_id,,,,,,,,,,
5205,0,5829,20993,0,1537,425,0,25,28809,0.743448
5209,0,0,16562,0,4667,1770,0,3326,26325,0.696372
5212,0,0,25493,0,10501,2911,0,18005,56910,0.499104
5235,0,11069,23950,0,3957,2231,0,3020,44227,0.591969
5237,0,0,18543,0,3084,1160,2,11559,34348,0.573629
...,...,...,...,...,...,...,...,...,...,...
17433,0,0,2,0,84,96,0,6,188,0.521277
17436,0,0,0,0,68,78,0,6,152,0.513158
17476,0,0,371,0,415,443,0,868,2097,0.388174
17987,0,0,1,0,0,1,0,0,2,1.000000
17989,0,0,0,0,6,3,0,0,9,0.333333

In [35]:
df_tasks[(df_tasks['rate']<0.5) & (df_tasks['total']>1000)]

solution_label,CE,Check error,Correct,"Correct, unknown style",RE,Style,TL,WA,total,rate
step_id,,,,,,,,,,
5212,0,0,25493,0,10501,2911,0,18005,56910,0.499104
5850,0,450,769,0,857,481,7,148,2712,0.460914
5889,0,0,12215,0,21312,736,0,3996,38259,0.338509
5907,0,0,4978,0,3859,2060,288,7487,18672,0.376928
5919,0,0,6696,0,8248,5695,2,4209,24850,0.498632
...,...,...,...,...,...,...,...,...,...,...
15944,0,0,1612,0,977,497,1,1430,4517,0.466903
15945,64,0,601,0,414,100,0,355,1534,0.456975
15965,0,0,28,0,251,238,0,486,1003,0.265204
16221,0,0,291,0,146,53,0,695,1185,0.290295
17476,0,0,371,0,415,443,0,868,2097,0.388174

In [36]:
df_test = df[(df['step_id']==15944) & (df['solution_label']!='WA') & (df['solution_label']!='Style')]
df_test

,step_id,status,client,uid_anon,id_anon,reply,feedback,solution_label
3122670,15944,2,web,32934,18602893,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct
3122673,15944,1,web,26245,18605392,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE
3122677,15944,2,web,27006,18605599,"{""language"": ""python3"", ""code"": ""num = int(inp...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct
3122680,15944,1,web,26245,18605786,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE
3122683,15944,2,web,33310,18608888,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct
...,...,...,...,...,...,...,...,...
4622563,15944,2,web,47462,32243973,"{""language"": ""python3"", ""code"": ""a = int(input...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct
4622564,15944,1,web,50966,32258083,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE
4622567,15944,1,web,50966,32258180,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE
4622569,15944,2,web,50966,32258309,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct
4622570,15944,2,web,44573,32275474,"{""language"": ""python3"", ""code"": ""a = int(input...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct

In [37]:
df.loc[4623239,'reply']

'{"choices": null, "score": "", "solution": null, "language": "python3", "code": "box_a = int(input())\\nbox_b = int(input())\\nbox_c = int(input())\\ndoor_x = int(input())\\ndoor_y = int(input())\\n\\nif door_y + door_y < (box_a + box_b or box_a + box_c or box_b + box_c):\\n    print(\\"The box can be carried\\")\\nelse:\\n    print(\\"The box cannot be carried\\")\\n", "text": null, "number": null, "edu_task": null, "version": 13, "feedback": null}'

In [38]:
def find_line(string):
    text = re.findall(r'line \d+', string)
    if (text):
        return int(text[0].split()[-1])
    return 0

find_line(df.loc[3122670,'feedback'])

0

In [39]:
df_test['line'] = df_test['feedback'].apply(find_line)
df_test

,step_id,status,client,uid_anon,id_anon,reply,feedback,solution_label,line
3122670,15944,2,web,32934,18602893,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,0
3122673,15944,1,web,26245,18605392,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,5
3122677,15944,2,web,27006,18605599,"{""language"": ""python3"", ""code"": ""num = int(inp...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,0
3122680,15944,1,web,26245,18605786,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,7
3122683,15944,2,web,33310,18608888,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,0
...,...,...,...,...,...,...,...,...,...
4622563,15944,2,web,47462,32243973,"{""language"": ""python3"", ""code"": ""a = int(input...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,0
4622564,15944,1,web,50966,32258083,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,3
4622567,15944,1,web,50966,32258180,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,3
4622569,15944,2,web,50966,32258309,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,0
4622570,15944,2,web,44573,32275474,"{""language"": ""python3"", ""code"": ""a = int(input...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,0

In [8]:
def find_code(string):
    try:
        return json.loads(string, strict=False)['code'] 
    except BaseException:
        return ""

In [11]:
df_test['code'] = df_test['reply'].apply(find_code)
df_test

,step_id,status,client,uid_anon,id_anon,reply,feedback,solution_label,code
3122668,15944,1,web,32934,18602813,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #2 of 5. Wrong answer\n""",WA,# put your code here\r\na = int(input())\r\n\r...
3122669,15944,1,web,32934,18602843,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #2 of 5. Wrong answer\n""",WA,# put your code here\r\na = int(input())\r\n\r...
3122670,15944,2,web,32934,18602893,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,# put your code here\r\na = int(input())\r\n\r...
3122671,15944,1,web,30310,18604036,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Wrong answer\n\nThis is ...",WA,"# put your code here\nA = int(input(""""))\nprin..."
3122672,15944,2,web,30310,18604202,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Style,"# put your code here\nA = int(input(""""))\nprin..."
...,...,...,...,...,...,...,...,...,...
4622567,15944,1,web,50966,32258180,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,# put your code here\r\na = input()\r\nif a>0:...
4622568,15944,1,web,50966,32258224,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #2 of 5. Wrong answer\n""",WA,# put your code here\r\na = int(input())\r\nif...
4622569,15944,2,web,50966,32258309,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,# put your code here\r\nprint(-(int(input())))\n
4622570,15944,2,web,44573,32275474,"{""language"": ""python3"", ""code"": ""a = int(input...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,a = int(input())\r\nprint(a * -1)\n
4622571,15944,2,PyCharmCore,51247,32295893,"{""choices"": null, ""score"": """", ""solution"": nul...","{""message"": """", ""code_style"": {""quality"": {""co...",Style,num=int(input())\nresult=num*-1\nprint(result)

In [42]:
df_test.groupby('solution_label')['id_anon'].count()

solution_label
Correct    1612
RE          977
TL            1
Name: id_anon, dtype: int64

In [43]:
df_positive = df_test[df_test['status'] == 2]
df_positive

,step_id,status,client,uid_anon,id_anon,reply,feedback,solution_label,line,code
3122670,15944,2,web,32934,18602893,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,0,# put your code here\r\na = int(input())\r\n\r...
3122677,15944,2,web,27006,18605599,"{""language"": ""python3"", ""code"": ""num = int(inp...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,0,num = int(input())\nprint(-num)\n
3122683,15944,2,web,33310,18608888,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,0,# put your code here\nx = int(input())\nprint(...
3122686,15944,2,web,1971,18610072,"{""language"": ""python3"", ""code"": ""num = int(inp...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,0,num = int(input())\nprint(num * -1)\n
3122687,15944,2,web,34615,18610261,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,0,# put your code here\nnumber = int(input())\np...
...,...,...,...,...,...,...,...,...,...,...
4622560,15944,2,PyCharmCore,468,32193348,"{""choices"": null, ""score"": """", ""solution"": nul...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,0,print(-int(input()))\n
4622561,15944,2,web,50311,32222897,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,0,# put your code here\r\nnum = - int(input())\r...
4622563,15944,2,web,47462,32243973,"{""language"": ""python3"", ""code"": ""a = int(input...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,0,a = int(input())\nprint(-a)\n
4622569,15944,2,web,50966,32258309,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,0,# put your code here\r\nprint(-(int(input())))\n
4622570,15944,2,web,44573,32275474,"{""language"": ""python3"", ""code"": ""a = int(input...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,0,a = int(input())\r\nprint(a * -1)\n

In [44]:
df_re = df_test[df_test['solution_label'] == "RE"]
df_re

,step_id,status,client,uid_anon,id_anon,reply,feedback,solution_label,line,code
3122673,15944,1,web,26245,18605392,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,5,# put your code here\ninteg = int(input())\nif...
3122680,15944,1,web,26245,18605786,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,7,# put your code here\ninteg = int(input())\nif...
3122685,15944,1,web,1971,18609996,"{""language"": ""python3"", ""code"": ""usr = input()...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,2,usr = input()\nreturn(usr * -1)\n
3122690,15944,1,web,34546,18617888,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,3,# put your code here\nif x < 0:\n print x\n...
3122691,15944,1,web,34546,18617910,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,2,# put your code here\nif x < 0:\n print(x)\...
...,...,...,...,...,...,...,...,...,...,...
4622552,15944,1,web,50966,32175218,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,2,# put your code here\r\na = int(input)\r\nif a...
4622553,15944,1,web,50966,32175257,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,3,# put your code here\r\na = str(input)\r\nif a...
4622554,15944,1,web,50966,32175315,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,3,# put your code here\r\na = str(input)\r\nif i...
4622564,15944,1,web,50966,32258083,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,3,# put your code here\r\na = input()\r\nprint(-...
4622567,15944,1,web,50966,32258180,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,3,# put your code here\r\na = input()\r\nif a>0:...

In [45]:
df.loc[3122673,'feedback'].split('\\n')

['"Failed test #1 of 5. Runtime error',
 '',
 'This is a sample test from the problem statement!',
 '',
 'Test input:',
 '567',
 'Correct output:',
 '-567',
 '',
 'Your code output:',
 '',
 '',
 'Error:',
 '  File \\"jailed_code\\", line 5',
 '    print integ',
 '              ^',
 "SyntaxError: Missing parentheses in call to 'print'",
 '"']

In [46]:
df_neural = pd.DataFrame({'code' : df_test['code'], 'line' : df_test['line']})
df_neural

                                                      code  line
3122670  # put your code here\r\na = int(input())\r\n\r...     0
3122673  # put your code here\ninteg = int(input())\nif...     5
3122677                  num = int(input())\nprint(-num)\n     0
3122680  # put your code here\ninteg = int(input())\nif...     7
3122683  # put your code here\nx = int(input())\nprint(...     0
...                                                    ...   ...
4622563                      a = int(input())\nprint(-a)\n     0
4622564  # put your code here\r\na = input()\r\nprint(-...     3
4622567  # put your code here\r\na = input()\r\nif a>0:...     3
4622569   # put your code here\r\nprint(-(int(input())))\n     0
4622570                a = int(input())\r\nprint(a * -1)\n     0

[2590 rows x 2 columns]

In [47]:
df_neural.groupby('line')['line'].count()

line
0     1613
1       80
2      316
3      281
4      129
5       84
6       48
7       14
8       15
9        6
10       1
14       1
15       1
25       1
Name: line, dtype: int64

In [14]:
from nltk.tokenize import word_tokenize

def tokenize(string):
    text = re.sub('#.*', '', string) 
    return word_tokenize(text)

In [50]:
df_neural['code_clean'] = df_neural['code'].apply(tokenize)
df_neural

,code,line,code_clean
3122670,# put your code here\r\na = int(input())\r\n\r...,0,"[a, =, int, (, input, (, ), ), print, (, a, *,..."
3122673,# put your code here\ninteg = int(input())\nif...,5,"[integ, =, int, (, input, (, ), ), if, integ, ..."
3122677,num = int(input())\nprint(-num)\n,0,"[num, =, int, (, input, (, ), ), print, (, -nu..."
3122680,# put your code here\ninteg = int(input())\nif...,7,"[integ, =, int, (, input, (, ), ), if, integ, ..."
3122683,# put your code here\nx = int(input())\nprint(...,0,"[x, =, int, (, input, (, ), ), print, (, -x, )]"
...,...,...,...
4622563,a = int(input())\nprint(-a)\n,0,"[a, =, int, (, input, (, ), ), print, (, -a, )]"
4622564,# put your code here\r\na = input()\r\nprint(-...,3,"[a, =, input, (, ), print, (, -a, )]"
4622567,# put your code here\r\na = input()\r\nif a>0:...,3,"[a, =, input, (, ), if, a, >, 0, :, print, (, ..."
4622569,# put your code here\r\nprint(-(int(input())))\n,0,"[print, (, -, (, int, (, input, (, ), ), ), )]"
4622570,a = int(input())\r\nprint(a * -1)\n,0,"[a, =, int, (, input, (, ), ), print, (, a, *,..."

In [15]:
language_construction = ['False', 'True', 'await', 'else','elif', 'if', 'import', 'pass', 'None', 'break', 'except', 'in', 'raise', 'class', 
                         'finally', 'is', 'return', 'and', 'continue', 'for', 'lambda', 'try', 'as', 'def', 'from', 'nonlocal', 
                         'while', 'assert', 'del', 'global', 'not', 'with', 'async', 'or', 'yield']

In [16]:
dict_language = {value: index for index, value in enumerate(language_construction)}

In [17]:
dict_token = {value: index for index, value in enumerate(language_construction)}
dict_token

{'False': 0,
 'True': 1,
 'await': 2,
 'else': 3,
 'elif': 4,
 'if': 5,
 'import': 6,
 'pass': 7,
 'None': 8,
 'break': 9,
 'except': 10,
 'in': 11,
 'raise': 12,
 'class': 13,
 'finally': 14,
 'is': 15,
 'return': 16,
 'and': 17,
 'continue': 18,
 'for': 19,
 'lambda': 20,
 'try': 21,
 'as': 22,
 'def': 23,
 'from': 24,
 'nonlocal': 25,
 'while': 26,
 'assert': 27,
 'del': 28,
 'global': 29,
 'not': 30,
 'with': 31,
 'async': 32,
 'or': 33,
 'yield': 34}

In [18]:
index_dict = len(language_construction)
index_dict

35

In [19]:
dict_token['False']

0

In [20]:
symbols = ['!', '?','_', '“', '#', '$', '%', '&', '‘', '(',')', '*', '+', '-', '.', '/', ':', ';', '<', '=', '>', '@', '\\', '[', ']', '{', '}', '|', '~']

In [21]:
dict_language.update({value: index+index_dict for index, value in enumerate(symbols)})
dict_language

{'False': 0,
 'True': 1,
 'await': 2,
 'else': 3,
 'elif': 4,
 'if': 5,
 'import': 6,
 'pass': 7,
 'None': 8,
 'break': 9,
 'except': 10,
 'in': 11,
 'raise': 12,
 'class': 13,
 'finally': 14,
 'is': 15,
 'return': 16,
 'and': 17,
 'continue': 18,
 'for': 19,
 'lambda': 20,
 'try': 21,
 'as': 22,
 'def': 23,
 'from': 24,
 'nonlocal': 25,
 'while': 26,
 'assert': 27,
 'del': 28,
 'global': 29,
 'not': 30,
 'with': 31,
 'async': 32,
 'or': 33,
 'yield': 34,
 '!': 35,
 '?': 36,
 '_': 37,
 '“': 38,
 '#': 39,
 '$': 40,
 '%': 41,
 '&': 42,
 '‘': 43,
 '(': 44,
 ')': 45,
 '*': 46,
 '+': 47,
 '-': 48,
 '.': 49,
 '/': 50,
 ':': 51,
 ';': 52,
 '<': 53,
 '=': 54,
 '>': 55,
 '@': 56,
 '\\': 57,
 '[': 58,
 ']': 59,
 '{': 60,
 '}': 61,
 '|': 62,
 '~': 63}

In [22]:
dict_token.update({value: index+index_dict for index, value in enumerate(symbols)})
dict_token

{'False': 0,
 'True': 1,
 'await': 2,
 'else': 3,
 'elif': 4,
 'if': 5,
 'import': 6,
 'pass': 7,
 'None': 8,
 'break': 9,
 'except': 10,
 'in': 11,
 'raise': 12,
 'class': 13,
 'finally': 14,
 'is': 15,
 'return': 16,
 'and': 17,
 'continue': 18,
 'for': 19,
 'lambda': 20,
 'try': 21,
 'as': 22,
 'def': 23,
 'from': 24,
 'nonlocal': 25,
 'while': 26,
 'assert': 27,
 'del': 28,
 'global': 29,
 'not': 30,
 'with': 31,
 'async': 32,
 'or': 33,
 'yield': 34,
 '!': 35,
 '?': 36,
 '_': 37,
 '“': 38,
 '#': 39,
 '$': 40,
 '%': 41,
 '&': 42,
 '‘': 43,
 '(': 44,
 ')': 45,
 '*': 46,
 '+': 47,
 '-': 48,
 '.': 49,
 '/': 50,
 ':': 51,
 ';': 52,
 '<': 53,
 '=': 54,
 '>': 55,
 '@': 56,
 '\\': 57,
 '[': 58,
 ']': 59,
 '{': 60,
 '}': 61,
 '|': 62,
 '~': 63}

In [23]:
def vectorize(token_list):
    result_list = []
    for w in token_list:
        if w in dict_token:
            result_list.append(dict_token[w])
        else:
            dict_token[w] = len(dict_token)
            result_list.append(dict_token[w])
    return result_list

In [58]:
dict_token

{'False': 0,
 'True': 1,
 'await': 2,
 'else': 3,
 'elif': 4,
 'if': 5,
 'import': 6,
 'pass': 7,
 'None': 8,
 'break': 9,
 'except': 10,
 'in': 11,
 'raise': 12,
 'class': 13,
 'finally': 14,
 'is': 15,
 'return': 16,
 'and': 17,
 'continue': 18,
 'for': 19,
 'lambda': 20,
 'try': 21,
 'as': 22,
 'def': 23,
 'from': 24,
 'nonlocal': 25,
 'while': 26,
 'assert': 27,
 'del': 28,
 'global': 29,
 'not': 30,
 'with': 31,
 'async': 32,
 'or': 33,
 'yield': 34,
 '!': 35,
 '?': 36,
 '_': 37,
 '“': 38,
 '#': 39,
 '$': 40,
 '%': 41,
 '&': 42,
 '‘': 43,
 '(': 44,
 ')': 45,
 '*': 46,
 '+': 47,
 '-': 48,
 '.': 49,
 '/': 50,
 ':': 51,
 ';': 52,
 '<': 53,
 '=': 54,
 '>': 55,
 '@': 56,
 '\\': 57,
 '[': 58,
 ']': 59,
 '{': 60,
 '}': 61,
 '|': 62,
 '~': 63}

In [59]:
df_neural['vector'] = df_neural['code_clean'].apply(vectorize)
df_neural

,code,line,code_clean,vector
3122670,# put your code here\r\na = int(input())\r\n\r...,0,"[a, =, int, (, input, (, ), ), print, (, a, *,...","[64, 54, 65, 44, 66, 44, 45, 45, 67, 44, 64, 4..."
3122673,# put your code here\ninteg = int(input())\nif...,5,"[integ, =, int, (, input, (, ), ), if, integ, ...","[69, 54, 65, 44, 66, 44, 45, 45, 5, 69, 53, 70..."
3122677,num = int(input())\nprint(-num)\n,0,"[num, =, int, (, input, (, ), ), print, (, -nu...","[72, 54, 65, 44, 66, 44, 45, 45, 67, 44, 73, 45]"
3122680,# put your code here\ninteg = int(input())\nif...,7,"[integ, =, int, (, input, (, ), ), if, integ, ...","[69, 54, 65, 44, 66, 44, 45, 45, 5, 69, 55, 70..."
3122683,# put your code here\nx = int(input())\nprint(...,0,"[x, =, int, (, input, (, ), ), print, (, -x, )]","[74, 54, 65, 44, 66, 44, 45, 45, 67, 44, 75, 45]"
...,...,...,...,...
4622563,a = int(input())\nprint(-a)\n,0,"[a, =, int, (, input, (, ), ), print, (, -a, )]","[64, 54, 65, 44, 66, 44, 45, 45, 67, 44, 83, 45]"
4622564,# put your code here\r\na = input()\r\nprint(-...,3,"[a, =, input, (, ), print, (, -a, )]","[64, 54, 66, 44, 45, 67, 44, 83, 45]"
4622567,# put your code here\r\na = input()\r\nif a>0:...,3,"[a, =, input, (, ), if, a, >, 0, :, print, (, ...","[64, 54, 66, 44, 45, 5, 64, 55, 70, 51, 67, 44..."
4622569,# put your code here\r\nprint(-(int(input())))\n,0,"[print, (, -, (, int, (, input, (, ), ), ), )]","[67, 44, 48, 44, 65, 44, 66, 44, 45, 45, 45, 45]"
4622570,a = int(input())\r\nprint(a * -1)\n,0,"[a, =, int, (, input, (, ), ), print, (, a, *,...","[64, 54, 65, 44, 66, 44, 45, 45, 67, 44, 64, 4..."

In [60]:
df_neural['vector_size'] = df_neural['vector'].apply(len)
df_neural

,code,line,code_clean,vector,vector_size
3122670,# put your code here\r\na = int(input())\r\n\r...,0,"[a, =, int, (, input, (, ), ), print, (, a, *,...","[64, 54, 65, 44, 66, 44, 45, 45, 67, 44, 64, 4...",14
3122673,# put your code here\ninteg = int(input())\nif...,5,"[integ, =, int, (, input, (, ), ), if, integ, ...","[69, 54, 65, 44, 66, 44, 45, 45, 5, 69, 53, 70...",48
3122677,num = int(input())\nprint(-num)\n,0,"[num, =, int, (, input, (, ), ), print, (, -nu...","[72, 54, 65, 44, 66, 44, 45, 45, 67, 44, 73, 45]",12
3122680,# put your code here\ninteg = int(input())\nif...,7,"[integ, =, int, (, input, (, ), ), if, integ, ...","[69, 54, 65, 44, 66, 44, 45, 45, 5, 69, 55, 70...",32
3122683,# put your code here\nx = int(input())\nprint(...,0,"[x, =, int, (, input, (, ), ), print, (, -x, )]","[74, 54, 65, 44, 66, 44, 45, 45, 67, 44, 75, 45]",12
...,...,...,...,...,...
4622563,a = int(input())\nprint(-a)\n,0,"[a, =, int, (, input, (, ), ), print, (, -a, )]","[64, 54, 65, 44, 66, 44, 45, 45, 67, 44, 83, 45]",12
4622564,# put your code here\r\na = input()\r\nprint(-...,3,"[a, =, input, (, ), print, (, -a, )]","[64, 54, 66, 44, 45, 67, 44, 83, 45]",9
4622567,# put your code here\r\na = input()\r\nif a>0:...,3,"[a, =, input, (, ), if, a, >, 0, :, print, (, ...","[64, 54, 66, 44, 45, 5, 64, 55, 70, 51, 67, 44...",34
4622569,# put your code here\r\nprint(-(int(input())))\n,0,"[print, (, -, (, int, (, input, (, ), ), ), )]","[67, 44, 48, 44, 65, 44, 66, 44, 45, 45, 45, 45]",12
4622570,a = int(input())\r\nprint(a * -1)\n,0,"[a, =, int, (, input, (, ), ), print, (, a, *,...","[64, 54, 65, 44, 66, 44, 45, 45, 67, 44, 64, 4...",14

In [61]:
df_neural['vector_size'].min()

6

In [62]:
df_neural['vector'].values

array([list([64, 54, 65, 44, 66, 44, 45, 45, 67, 44, 64, 46, 68, 45]),
       list([69, 54, 65, 44, 66, 44, 45, 45, 5, 69, 53, 70, 51, 69, 54, 69, 47, 44, 71, 46, 69, 45, 67, 69, 4, 69, 55, 70, 51, 69, 54, 69, 48, 44, 71, 46, 69, 45, 67, 44, 69, 45, 3, 51, 67, 44, 69, 45]),
       list([72, 54, 65, 44, 66, 44, 45, 45, 67, 44, 73, 45]), ...,
       list([64, 54, 66, 44, 45, 5, 64, 55, 70, 51, 67, 44, 103, 48, 81, 47, 84, 44, 64, 45, 45, 3, 51, 67, 44, 103, 47, 81, 47, 84, 44, 64, 45, 45]),
       list([67, 44, 48, 44, 65, 44, 66, 44, 45, 45, 45, 45]),
       list([64, 54, 65, 44, 66, 44, 45, 45, 67, 44, 64, 46, 68, 45])],
      dtype=object)

In [63]:
max_features = len(dict_token)
maxlen = 300

In [64]:
import torch
import keras

X = keras.preprocessing.sequence.pad_sequences(df_neural['vector'], maxlen=maxlen)
y = df_neural['line'].values

In [65]:
X.shape

(2590, 300)

In [88]:
from keras.layers.advanced_activations import LeakyReLU
from tensorflow.keras import regularizers
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Activation, Dense
import tensorflow as tf


tf.keras.backend.clear_session()
model = Sequential()
model.add(LSTM(60, activation='relu', input_shape=(maxlen, 1), bias_regularizer = regularizers.L1(0.01)))
model.add(Dense(10, activation='relu'))
#model.add(LeakyReLU(alpha=0.1))
model.add(Dense(1))

model.summary()

model.compile(optimizer='adam', loss='mse', metrics=["accuracy"])

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, 60)                14880

 dense (Dense)               (None, 10)                610

 dense_1 (Dense)             (None, 1)                 11

=================================================================
Total params: 15,501
Trainable params: 15,501
Non-trainable params: 0
_________________________________________________________________

In [89]:
history = model.fit(X, y, batch_size=128, epochs=1)

21/21 [==============================] - 7s 289ms/step - loss: 5804.4746 - accuracy: 0.5305

In [105]:
from keras.layers.advanced_activations import LeakyReLU
from tensorflow.keras import regularizers
from keras.models import Sequential
from keras.layers import LSTM, SimpleRNN, Dense
import tensorflow as tf


tf.keras.backend.clear_session()
model = Sequential()
model.add(SimpleRNN(50, activation='relu', input_shape=(maxlen, 1), bias_regularizer = regularizers.L1(0.01)))
#model.add(Dense(10, activation='relu'))
#model.add(LeakyReLU(alpha=0.1))
model.add(Dense(1))

model.summary()

model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=["accuracy"])

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 simple_rnn (SimpleRNN)      (None, 50)                2600

 dense (Dense)               (None, 1)                 51

=================================================================
Total params: 2,651
Trainable params: 2,651
Non-trainable params: 0
_________________________________________________________________

In [106]:
history = model.fit(X, y, batch_size=128, epochs=1)

21/21 [==============================] - 2s 72ms/step - loss: 1.4337e-07 - accuracy: 0.6228

In [ ]:
tf.keras.backend.clear_session()
model = Sequential()
model.add(LSTM(30, activation='relu', input_shape=(maxlen, 1)))
model.add(Dense(10, activation='relu'))
model.add(Dense(1))

model.summary()

model.compile(optimizer='adam', loss='mse', metrics=["accuracy"])

In [ ]:
model.save('finalized_model')

In [ ]:
from tensorflow import keras
model = keras.models.load_model('finalized_model')

In [ ]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df_neural, test_size=0.1)

In [ ]:
X_test = keras.preprocessing.sequence.pad_sequences(test['vector'], maxlen=maxlen)
y_test = test['line'].values

In [ ]:
model.evaluate(X_test,y_test)

In [107]:
for e in zip(model.layers[0].trainable_weights, model.layers[0].get_weights()):
    print('Param %s:\n%s' % (e[0],e[1]))

Param <tf.Variable 'simple_rnn/simple_rnn_cell/kernel:0' shape=(1, 50) dtype=float32, numpy=
array([[ 0.3395762 , -0.00735486, -0.11848442,  0.04346287,  0.3130001 ,
        -0.0785754 ,  0.28733286, -0.19289395, -0.16711141, -0.1414028 ,
        -0.15905394,  0.32188287, -0.28178528, -0.07597154, -0.00660259,
         0.05579203,  0.13864815,  0.29055396,  0.03138924, -0.0974227 ,
        -0.020942  ,  0.23536184, -0.2831607 ,  0.11140826, -0.30780923,
        -0.13750057, -0.02949122,  0.15296042,  0.09198993,  0.05864221,
        -0.00589138, -0.0062817 , -0.25389755,  0.2690573 ,  0.2941008 ,
         0.00350347,  0.30094203,  0.2996734 , -0.18135294, -0.00684693,
        -0.03476802,  0.336315  ,  0.14674634,  0.33704743, -0.18979877,
         0.04925734,  0.28870836,  0.15947196,  0.03779089,  0.31955573]],
      dtype=float32)>:
[[ 0.3395762  -0.00735486 -0.11848442  0.04346287  0.3130001  -0.0785754
   0.28733286 -0.19289395 -0.16711141 -0.1414028  -0.15905394  0.32188287
  -0.28178528 -0.07597154 -0.00660259  0.05579203  0.13864815  0.29055396
   0.03138924 -0.0974227  -0.020942    0.23536184 -0.2831607   0.11140826
  -0.30780923 -0.13750057 -0.02949122  0.15296042  0.09198993  0.05864221
  -0.00589138 -0.0062817  -0.25389755  0.2690573   0.2941008   0.00350347
   0.30094203  0.2996734  -0.18135294 -0.00684693 -0.03476802  0.336315
   0.14674634  0.33704743 -0.18979877  0.04925734  0.28870836  0.15947196
   0.03779089  0.31955573]]
Param <tf.Variable 'simple_rnn/simple_rnn_cell/recurrent_kernel:0' shape=(50, 50) dtype=float32, numpy=
array([[ 0.12516797, -0.18377697,  0.18016587, ..., -0.09368414,
        -0.04762894, -0.1525056 ],
       [-0.28266495, -0.05199718,  0.27407375, ...,  0.05868534,
         0.23555423,  0.09319336],
       [ 0.40592128, -0.08245832,  0.11652136, ..., -0.00312001,
        -0.24172227,  0.08323625],
       ...,
       [ 0.07697275, -0.31067494, -0.05471934, ...,  0.07058791,
        -0.17168476,  0.00976651],
       [ 0.07427226, -0.07755513,  0.1605257 , ...,  0.03017759,
        -0.03337533, -0.30625585],
       [-0.10094242,  0.11321149, -0.08440734, ..., -0.1385665 ,
        -0.05675093, -0.2269543 ]], dtype=float32)>:
[[ 0.12516797 -0.18377697  0.18016587 ... -0.09368414 -0.04762894
  -0.1525056 ]
 [-0.28266495 -0.05199718  0.27407375 ...  0.05868534  0.23555423
   0.09319336]
 [ 0.40592128 -0.08245832  0.11652136 ... -0.00312001 -0.24172227
   0.08323625]
 ...
 [ 0.07697275 -0.31067494 -0.05471934 ...  0.07058791 -0.17168476
   0.00976651]
 [ 0.07427226 -0.07755513  0.1605257  ...  0.03017759 -0.03337533
  -0.30625585]
 [-0.10094242  0.11321149 -0.08440734 ... -0.1385665  -0.05675093
  -0.2269543 ]]
Param <tf.Variable 'simple_rnn/simple_rnn_cell/bias:0' shape=(50,) dtype=float32, numpy=
array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
      dtype=float32)>:
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0.]

In [108]:
model.layers[0].weights

[<tf.Variable 'simple_rnn/simple_rnn_cell/kernel:0' shape=(1, 50) dtype=float32, numpy=
 array([[ 0.3395762 , -0.00735486, -0.11848442,  0.04346287,  0.3130001 ,
         -0.0785754 ,  0.28733286, -0.19289395, -0.16711141, -0.1414028 ,
         -0.15905394,  0.32188287, -0.28178528, -0.07597154, -0.00660259,
          0.05579203,  0.13864815,  0.29055396,  0.03138924, -0.0974227 ,
         -0.020942  ,  0.23536184, -0.2831607 ,  0.11140826, -0.30780923,
         -0.13750057, -0.02949122,  0.15296042,  0.09198993,  0.05864221,
         -0.00589138, -0.0062817 , -0.25389755,  0.2690573 ,  0.2941008 ,
          0.00350347,  0.30094203,  0.2996734 , -0.18135294, -0.00684693,
         -0.03476802,  0.336315  ,  0.14674634,  0.33704743, -0.18979877,
          0.04925734,  0.28870836,  0.15947196,  0.03779089,  0.31955573]],
       dtype=float32)>,
 <tf.Variable 'simple_rnn/simple_rnn_cell/recurrent_kernel:0' shape=(50, 50) dtype=float32, numpy=
 array([[ 0.12516797, -0.18377697,  0.18016587, ..., -0.09368414,
         -0.04762894, -0.1525056 ],
        [-0.28266495, -0.05199718,  0.27407375, ...,  0.05868534,
          0.23555423,  0.09319336],
        [ 0.40592128, -0.08245832,  0.11652136, ..., -0.00312001,
         -0.24172227,  0.08323625],
        ...,
        [ 0.07697275, -0.31067494, -0.05471934, ...,  0.07058791,
         -0.17168476,  0.00976651],
        [ 0.07427226, -0.07755513,  0.1605257 , ...,  0.03017759,
         -0.03337533, -0.30625585],
        [-0.10094242,  0.11321149, -0.08440734, ..., -0.1385665 ,
         -0.05675093, -0.2269543 ]], dtype=float32)>,
 <tf.Variable 'simple_rnn/simple_rnn_cell/bias:0' shape=(50,) dtype=float32, numpy=
 array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       dtype=float32)>]

In [ ]:
y_res = model.predict(X_test)

In [ ]:
y_res

In [ ]:
layer_weights = model.layers[0].get_weights()
layer_weights

In [ ]:
from see_rnn import get_layer_gradients, features_0D, features_1D, features_2D

grads = get_layer_gradients(model, 1, x, y)  # return_sequences=True,  layer index 1
grads = get_layer_gradients(model, 2, x, y)  # return_sequences=False, layer index 2
outs  = get_outputs(model, 1, x)       # return_sequences=True,  layer index 1

In [ ]:
tf.keras.backend.clear_session()
model1 = Sequential()
model1.add(LSTM(30, activation='relu', input_shape=(maxlen, 1)))
model1.add(Dense(1))

model1.summary()

model1.compile(optimizer='adam', loss='mse', metrics=["accuracy"])

In [ ]:
history = model1.fit(X, y, batch_size=32, epochs=1)

In [ ]:
#64 32 32 40%
from tensorflow import keras
from tensorflow.keras import layers

tf.keras.backend.clear_session()
inputs = keras.Input(shape=(None,), dtype="int32")
# Embed each integer in a 128-dimensional vector
x = layers.Embedding(max_features, 64)(inputs)
# Add 2 bidirectional LSTMs
x = layers.Bidirectional(layers.LSTM(32, return_sequences=True))(x)
x = layers.Bidirectional(layers.LSTM(32))(x)
# Add a classifier
outputs = layers.Dense(1, activation="sigmoid")(x)
model = keras.Model(inputs, outputs)
model.summary()

model.compile("adam", "binary_crossentropy", metrics=["accuracy"])

In [109]:
df_re['error_message'] = df_re['feedback'].apply(find)
df_re

,step_id,status,client,uid_anon,id_anon,reply,feedback,solution_label,line,code,error_message
3122673,15944,1,web,26245,18605392,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,5,# put your code here\ninteg = int(input())\nif...,SyntaxError: Missing parentheses in call to 'p...
3122680,15944,1,web,26245,18605786,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,7,# put your code here\ninteg = int(input())\nif...,SyntaxError: can't assign to operator
3122685,15944,1,web,1971,18609996,"{""language"": ""python3"", ""code"": ""usr = input()...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,2,usr = input()\nreturn(usr * -1)\n,SyntaxError: 'return' outside function
3122690,15944,1,web,34546,18617888,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,3,# put your code here\nif x < 0:\n print x\n...,SyntaxError: Missing parentheses in call to 'p...
3122691,15944,1,web,34546,18617910,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,2,# put your code here\nif x < 0:\n print(x)\...,NameError: name 'x' is not defined
...,...,...,...,...,...,...,...,...,...,...,...
4622552,15944,1,web,50966,32175218,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,2,# put your code here\r\na = int(input)\r\nif a...,"TypeError: int() argument must be a string, a ..."
4622553,15944,1,web,50966,32175257,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,3,# put your code here\r\na = str(input)\r\nif a...,TypeError: '>' not supported between instances...
4622554,15944,1,web,50966,32175315,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,3,# put your code here\r\na = str(input)\r\nif i...,ValueError: invalid literal for int() with bas...
4622564,15944,1,web,50966,32258083,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,3,# put your code here\r\na = input()\r\nprint(-...,TypeError: bad operand type for unary -: 'str'
4622567,15944,1,web,50966,32258180,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,3,# put your code here\r\na = input()\r\nif a>0:...,TypeError: '>' not supported between instances...

In [110]:
df_re.groupby('error_message')['id_anon'].count().nlargest(40)

error_message
SyntaxError: invalid syntax                                                                                      305
TypeError: must be str, not int                                                                                  103
TypeError: int() argument must be a string, a bytes-like object or a number, not 'builtin_function_or_method'     89
SyntaxError: unexpected EOF while parsing                                                                         86
TypeError: bad operand type for unary -: 'str'                                                                    48
TypeError: '>' not supported between instances of 'str' and 'int'                                                 32
TypeError: bad operand type for abs(): 'str'                                                                      23
IndentationError: unexpected indent                                                                               19
TypeError: '<' not supported between instances of 'str' and 'int'                                                 19
EOFError: EOF when reading a line                                                                                 11
NameError: name 'num' is not defined                                                                              11
ValueError: invalid literal for int() with base 10: '--12'                                                        10
IndentationError: expected an indented block                                                                       9
NameError: name 'x' is not defined                                                                                 9
SyntaxError: 'return' outside function                                                                             9
SyntaxError: Missing parentheses in call to 'print'                                                                8
TypeError: bad operand type for unary +: 'str'                                                                     8
ValueError: invalid literal for int() with base 10: ''                                                             7
NameError: name 'y' is not defined                                                                                 6
TypeError: '>=' not supported between instances of 'str' and 'int'                                                 6
TypeError: 'int' object is not iterable                                                                            6
TypeError: unsupported operand type(s) for -: 'builtin_function_or_method' and 'int'                               6
TypeError: opposign() takes 0 positional arguments but 1 was given                                                 5
NameError: name 'flip' is not defined                                                                              4
NameError: name 'intput' is not defined                                                                            4
TypeError: 'a' is an invalid keyword argument for this function                                                    4
TypeError: 'int' object is not subscriptable                                                                       4
TypeError: must be str, not type                                                                                   4
TypeError: unsupported operand type(s) for -: 'str' and 'str'                                                      4
NameError: name 'n' is not defined                                                                                 3
NameError: name 'number' is not defined                                                                            3
NameError: name 'obs' is not defined                                                                               3
SyntaxError: EOL while scanning string literal                                                                     3
TypeError: '>' not supported between instances of 'builtin_function_or_method' and 'int'                           3
TypeError: 'int' object is not callable                                                                            3
TypeError: abs() takes exactly one argument (0 given)                                                              3
TypeError: argument of type 'int' is not iterable                                                                  3
TypeError: unsupported operand type(s) for *: 'builtin_function_or_method' and 'int'                               3
ValueError: invalid literal for int() with base 10: 'jailed_code'                                                  3
AttributeError: 'int' object has no attribute 'math'                                                               2
Name: id_anon, dtype: int64

In [ ]:
def clean(s):
    s1 = re.sub("\'[^']*\'","",s)
    s1 = re.sub("\\([^']*\\)","",s1)
    s1 = re.sub("\\b[0-9][0-9.,-_]*\\b", '', s1)
    s1 = re.sub (r' +', ' ',s1)
    find = re.compile(r"^[^.\\:]*")
    return s1

In [ ]:
df_re.groupby('error_message_clean')['id_anon'].count().nlargest(40)

In [10]:
df_test = df[df['step_id']==15944]
df_test

,step_id,status,client,uid_anon,id_anon,reply,feedback,solution_label
3122668,15944,1,web,32934,18602813,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #2 of 5. Wrong answer\n""",WA
3122669,15944,1,web,32934,18602843,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #2 of 5. Wrong answer\n""",WA
3122670,15944,2,web,32934,18602893,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct
3122671,15944,1,web,30310,18604036,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Wrong answer\n\nThis is ...",WA
3122672,15944,2,web,30310,18604202,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Style
...,...,...,...,...,...,...,...,...
4622567,15944,1,web,50966,32258180,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE
4622568,15944,1,web,50966,32258224,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #2 of 5. Wrong answer\n""",WA
4622569,15944,2,web,50966,32258309,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct
4622570,15944,2,web,44573,32275474,"{""language"": ""python3"", ""code"": ""a = int(input...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct
4622571,15944,2,PyCharmCore,51247,32295893,"{""choices"": null, ""score"": """", ""solution"": nul...","{""message"": """", ""code_style"": {""quality"": {""co...",Style

In [12]:
df_test['code'] = df_test['reply'].apply(find_code)
df_test

,step_id,status,client,uid_anon,id_anon,reply,feedback,solution_label,code
3122668,15944,1,web,32934,18602813,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #2 of 5. Wrong answer\n""",WA,# put your code here\r\na = int(input())\r\n\r...
3122669,15944,1,web,32934,18602843,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #2 of 5. Wrong answer\n""",WA,# put your code here\r\na = int(input())\r\n\r...
3122670,15944,2,web,32934,18602893,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,# put your code here\r\na = int(input())\r\n\r...
3122671,15944,1,web,30310,18604036,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Wrong answer\n\nThis is ...",WA,"# put your code here\nA = int(input(""""))\nprin..."
3122672,15944,2,web,30310,18604202,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Style,"# put your code here\nA = int(input(""""))\nprin..."
...,...,...,...,...,...,...,...,...,...
4622567,15944,1,web,50966,32258180,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,# put your code here\r\na = input()\r\nif a>0:...
4622568,15944,1,web,50966,32258224,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #2 of 5. Wrong answer\n""",WA,# put your code here\r\na = int(input())\r\nif...
4622569,15944,2,web,50966,32258309,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,# put your code here\r\nprint(-(int(input())))\n
4622570,15944,2,web,44573,32275474,"{""language"": ""python3"", ""code"": ""a = int(input...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,a = int(input())\r\nprint(a * -1)\n
4622571,15944,2,PyCharmCore,51247,32295893,"{""choices"": null, ""score"": """", ""solution"": nul...","{""message"": """", ""code_style"": {""quality"": {""co...",Style,num=int(input())\nresult=num*-1\nprint(result)

In [24]:
df_test['code_clean'] = df_test['code'].apply(tokenize)
df_test

,step_id,status,client,uid_anon,id_anon,reply,feedback,solution_label,code,code_clean
3122668,15944,1,web,32934,18602813,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #2 of 5. Wrong answer\n""",WA,# put your code here\r\na = int(input())\r\n\r...,"[a, =, int, (, input, (, ), ), if, a, <, 0, :,..."
3122669,15944,1,web,32934,18602843,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #2 of 5. Wrong answer\n""",WA,# put your code here\r\na = int(input())\r\n\r...,"[a, =, int, (, input, (, ), ), if, a, <, 0, :,..."
3122670,15944,2,web,32934,18602893,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,# put your code here\r\na = int(input())\r\n\r...,"[a, =, int, (, input, (, ), ), print, (, a, *,..."
3122671,15944,1,web,30310,18604036,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Wrong answer\n\nThis is ...",WA,"# put your code here\nA = int(input(""""))\nprin...","[A, =, int, (, input, (, ``, '', ), ), print, ..."
3122672,15944,2,web,30310,18604202,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Style,"# put your code here\nA = int(input(""""))\nprin...","[A, =, int, (, input, (, ``, '', ), ), print, ..."
...,...,...,...,...,...,...,...,...,...,...
4622567,15944,1,web,50966,32258180,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,# put your code here\r\na = input()\r\nif a>0:...,"[a, =, input, (, ), if, a, >, 0, :, print, (, ..."
4622568,15944,1,web,50966,32258224,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #2 of 5. Wrong answer\n""",WA,# put your code here\r\na = int(input())\r\nif...,"[a, =, int, (, input, (, ), ), if, a, >, 0, :,..."
4622569,15944,2,web,50966,32258309,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,# put your code here\r\nprint(-(int(input())))\n,"[print, (, -, (, int, (, input, (, ), ), ), )]"
4622570,15944,2,web,44573,32275474,"{""language"": ""python3"", ""code"": ""a = int(input...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,a = int(input())\r\nprint(a * -1)\n,"[a, =, int, (, input, (, ), ), print, (, a, *,..."
4622571,15944,2,PyCharmCore,51247,32295893,"{""choices"": null, ""score"": """", ""solution"": nul...","{""message"": """", ""code_style"": {""quality"": {""co...",Style,num=int(input())\nresult=num*-1\nprint(result),"[num=int, (, input, (, ), ), result=num, *, -1..."

In [25]:
df_test['vector'] = df_test['code_clean'].apply(vectorize)
df_test

,step_id,status,client,uid_anon,id_anon,reply,feedback,solution_label,code,code_clean,vector
3122668,15944,1,web,32934,18602813,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #2 of 5. Wrong answer\n""",WA,# put your code here\r\na = int(input())\r\n\r...,"[a, =, int, (, input, (, ), ), if, a, <, 0, :,...","[64, 54, 65, 44, 66, 44, 45, 45, 5, 64, 53, 67..."
3122669,15944,1,web,32934,18602843,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #2 of 5. Wrong answer\n""",WA,# put your code here\r\na = int(input())\r\n\r...,"[a, =, int, (, input, (, ), ), if, a, <, 0, :,...","[64, 54, 65, 44, 66, 44, 45, 45, 5, 64, 53, 67..."
3122670,15944,2,web,32934,18602893,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,# put your code here\r\na = int(input())\r\n\r...,"[a, =, int, (, input, (, ), ), print, (, a, *,...","[64, 54, 65, 44, 66, 44, 45, 45, 68, 44, 64, 4..."
3122671,15944,1,web,30310,18604036,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Wrong answer\n\nThis is ...",WA,"# put your code here\nA = int(input(""""))\nprin...","[A, =, int, (, input, (, ``, '', ), ), print, ...","[70, 54, 65, 44, 66, 44, 71, 72, 45, 45, 68, 4..."
3122672,15944,2,web,30310,18604202,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Style,"# put your code here\nA = int(input(""""))\nprin...","[A, =, int, (, input, (, ``, '', ), ), print, ...","[70, 54, 65, 44, 66, 44, 71, 72, 45, 45, 68, 4..."
...,...,...,...,...,...,...,...,...,...,...,...
4622567,15944,1,web,50966,32258180,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #1 of 5. Runtime error\n\nThis is...",RE,# put your code here\r\na = input()\r\nif a>0:...,"[a, =, input, (, ), if, a, >, 0, :, print, (, ...","[64, 54, 66, 44, 45, 5, 64, 55, 67, 51, 68, 44..."
4622568,15944,1,web,50966,32258224,"{""language"": ""python3"", ""code"": ""# put your co...","""Failed test #2 of 5. Wrong answer\n""",WA,# put your code here\r\na = int(input())\r\nif...,"[a, =, int, (, input, (, ), ), if, a, >, 0, :,...","[64, 54, 65, 44, 66, 44, 45, 45, 5, 64, 55, 67..."
4622569,15944,2,web,50966,32258309,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,# put your code here\r\nprint(-(int(input())))\n,"[print, (, -, (, int, (, input, (, ), ), ), )]","[68, 44, 48, 44, 65, 44, 66, 44, 45, 45, 45, 45]"
4622570,15944,2,web,44573,32275474,"{""language"": ""python3"", ""code"": ""a = int(input...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,a = int(input())\r\nprint(a * -1)\n,"[a, =, int, (, input, (, ), ), print, (, a, *,...","[64, 54, 65, 44, 66, 44, 45, 45, 68, 44, 64, 4..."
4622571,15944,2,PyCharmCore,51247,32295893,"{""choices"": null, ""score"": """", ""solution"": nul...","{""message"": """", ""code_style"": {""quality"": {""co...",Style,num=int(input())\nresult=num*-1\nprint(result),"[num=int, (, input, (, ), ), result=num, *, -1...","[288, 44, 66, 44, 45, 45, 668, 46, 69, 68, 44,..."

In [49]:
users = pd.unique(df_test['uid_anon'])
users

array([32934, 30310, 26245, ..., 47462, 44573, 51247], dtype=int64)

In [87]:
import difflib

s1 = df_test.loc[3122670,'vector']
s2 = df_test.loc[3122671,'vector']

s = difflib.SequenceMatcher(None, s1, s2)

d = {'before':[], 'after': []}
for tag, i1, i2, j1, j2 in s.get_opcodes():
    if (tag !='equal'):
        d['before'].append(s1[i1:i2])
        d['after'].append(s2[j1:j2])
print(d)


print(s.ratio())
print(s.quick_ratio())
print(s.real_quick_ratio())

{'before': [[64], [], [64, 46, 69]], 'after': [[70], [71, 72], [71, 48, 72, 73, 70]]}
0.625
0.625
0.875

In [88]:
s1

[64, 54, 65, 44, 66, 44, 45, 45, 68, 44, 64, 46, 69, 45]

In [89]:
s2

[70, 54, 65, 44, 66, 44, 71, 72, 45, 45, 68, 44, 71, 48, 72, 73, 70, 45]

In [90]:
for tag, i1, i2, j1, j2 in s.get_opcodes():
    print(tag, i1, i2, j1, j2)

replace 0 1 0 1
equal 1 6 1 6
insert 6 6 6 8
equal 6 10 8 12
replace 10 13 12 17
equal 13 14 17 18

In [108]:
df_correct = df_test[(df_test['solution_label'] == 'Correct') | (df_test['solution_label'] == 'Style') | 
                   (df_test['solution_label'] == 'Correct, unknown style')]
df_correct.reset_index(inplace=True)
df_correct

,index,step_id,status,client,uid_anon,id_anon,reply,feedback,solution_label,code,code_clean,vector
0,3122670,15944,2,web,32934,18602893,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,# put your code here\r\na = int(input())\r\n\r...,"[a, =, int, (, input, (, ), ), print, (, a, *,...","[64, 54, 65, 44, 66, 44, 45, 45, 68, 44, 64, 4..."
1,3122672,15944,2,web,30310,18604202,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Style,"# put your code here\nA = int(input(""""))\nprin...","[A, =, int, (, input, (, ``, '', ), ), print, ...","[70, 54, 65, 44, 66, 44, 71, 72, 45, 45, 68, 4..."
2,3122677,15944,2,web,27006,18605599,"{""language"": ""python3"", ""code"": ""num = int(inp...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,num = int(input())\nprint(-num)\n,"[num, =, int, (, input, (, ), ), print, (, -nu...","[79, 54, 65, 44, 66, 44, 45, 45, 68, 44, 80, 45]"
3,3122682,15944,2,web,26245,18606198,"{""language"": ""python3"", ""code"": ""integ = int(i...","{""message"": """", ""code_style"": {""quality"": {""co...",Style,integ = int(input())\nif integ < 0:\n integ...,"[integ, =, int, (, input, (, ), ), if, integ, ...","[75, 54, 65, 44, 66, 44, 45, 45, 5, 75, 53, 67..."
4,3122683,15944,2,web,33310,18608888,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,# put your code here\nx = int(input())\nprint(...,"[x, =, int, (, input, (, ), ), print, (, -x, )]","[82, 54, 65, 44, 66, 44, 45, 45, 68, 44, 83, 45]"
...,...,...,...,...,...,...,...,...,...,...,...,...
2104,4622562,15944,2,web,47462,32243928,"{""language"": ""python3"", ""code"": ""a = int(input...","{""message"": """", ""code_style"": {""quality"": {""co...",Style,a = int(input())\nprint(a*(-1))\n,"[a, =, int, (, input, (, ), ), print, (, a, *,...","[64, 54, 65, 44, 66, 44, 45, 45, 68, 44, 64, 4..."
2105,4622563,15944,2,web,47462,32243973,"{""language"": ""python3"", ""code"": ""a = int(input...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,a = int(input())\nprint(-a)\n,"[a, =, int, (, input, (, ), ), print, (, -a, )]","[64, 54, 65, 44, 66, 44, 45, 45, 68, 44, 89, 45]"
2106,4622569,15944,2,web,50966,32258309,"{""language"": ""python3"", ""code"": ""# put your co...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,# put your code here\r\nprint(-(int(input())))\n,"[print, (, -, (, int, (, input, (, ), ), ), )]","[68, 44, 48, 44, 65, 44, 66, 44, 45, 45, 45, 45]"
2107,4622570,15944,2,web,44573,32275474,"{""language"": ""python3"", ""code"": ""a = int(input...","{""message"": """", ""code_style"": {""quality"": {""co...",Correct,a = int(input())\r\nprint(a * -1)\n,"[a, =, int, (, input, (, ), ), print, (, a, *,...","[64, 54, 65, 44, 66, 44, 45, 45, 68, 44, 64, 4..."
2108,4622571,15944,2,PyCharmCore,51247,32295893,"{""choices"": null, ""score"": """", ""solution"": nul...","{""message"": """", ""code_style"": {""quality"": {""co...",Style,num=int(input())\nresult=num*-1\nprint(result),"[num=int, (, input, (, ), ), result=num, *, -1...","[288, 44, 66, 44, 45, 45, 668, 46, 69, 68, 44,..."

In [93]:
codes = df_correct['vector'].values
codes

array([list([64, 54, 65, 44, 66, 44, 45, 45, 68, 44, 64, 46, 69, 45]),
       list([70, 54, 65, 44, 66, 44, 71, 72, 45, 45, 68, 44, 74, 45]),
       list([79, 54, 65, 44, 66, 44, 45, 45, 68, 44, 80, 45]), ...,
       list([68, 44, 48, 44, 65, 44, 66, 44, 45, 45, 45, 45]),
       list([64, 54, 65, 44, 66, 44, 45, 45, 68, 44, 64, 46, 69, 45]),
       list([288, 44, 66, 44, 45, 45, 668, 46, 69, 68, 44, 158, 45])],
      dtype=object)

In [99]:
import math

mse1 = []
for s1 in codes:
    sum_diff = 0  
    for s2 in codes:
        s = difflib.SequenceMatcher(None, s1, s2).ratio()
        sum_diff += s**2
    mse1.append(math.sqrt(sum_diff))
mse1

[31.855247309436137,
 28.95195255179581,
 31.79735769565579,
 16.779086538371843,
 31.508525919266578,
 31.638241416622186,
 31.875681518083837,
 31.386632877333934,
 25.156906179254516,
 25.669327716609295,
 22.581622740351705,
 31.875681518083837,
 29.13100473118589,
 32.028629966875215,
 32.028629966875215,
 31.140387657620973,
 20.776586518443064,
 20.72183020085535,
 23.264306473990317,
 26.358089905709683,
 25.45794045754184,
 25.45794045754184,
 30.935788744425608,
 30.93484836590521,
 31.937887090216343,
 25.624161821571874,
 28.473845229178206,
 25.45794045754184,
 28.473845229178206,
 30.946152958818686,
 25.45794045754184,
 26.024762151714768,
 28.473845229178206,
 24.06710035514889,
 26.179597082811934,
 26.179597082811934,
 31.070706525145876,
 21.444239434422904,
 31.638241416622186,
 25.592579608472924,
 25.47508198889445,
 29.74985628017133,
 26.179597082811934,
 31.10086171511612,
 28.473845229178206,
 28.473845229178206,
 28.473845229178206,
 26.07622192377287,
 25.458980881591344,
 25.45794045754184,
 25.45794045754184,
 24.244416544958742,
 22.102967525841905,
 26.179597082811934,
 31.937887090216343,
 31.128770591138576,
 27.28430507408963,
 27.28430507408963,
 31.508525919266578,
 31.937887090216343,
 30.663162456486898,
 26.179597082811934,
 22.309215173888475,
 31.638241416622186,
 23.28184651094257,
 25.45794045754184,
 30.390603193060677,
 24.310815869352016,
 31.79735769565579,
 31.508525919266578,
 29.25931522532649,
 30.335349476660213,
 31.159157553870692,
 31.159157553870692,
 25.47557130635032,
 30.937058611934983,
 29.714073768869103,
 25.45794045754184,
 31.35366977966606,
 26.179597082811934,
 30.674331425647704,
 31.2759718014885,
 31.086733065276224,
 32.028629966875215,
 31.508525919266578,
 28.473845229178206,
 27.33981785566572,
 31.508525919266578,
 31.140387657620973,
 31.140387657620973,
 29.61162275897205,
 17.44821440097959,
 27.79342094793323,
 23.598495305933575,
 24.303115226275125,
 30.988671477643443,
 19.904084525422146,
 18.886641896330744,
 18.886641896330744,
 19.19395111068262,
 26.179597082811934,
 31.638241416622186,
 25.45794045754184,
 26.76040906681929,
 31.2759718014885,
 25.422696969631986,
 31.875681518083837,
 31.108526091545038,
 26.179597082811934,
 29.687227870676896,
 31.638241416622186,
 31.128770591138576,
 30.46868204987943,
 27.358096003227583,
 31.638241416622186,
 28.473845229178206,
 30.390603193060677,
 28.473845229178206,
 25.45794045754184,
 30.46868204987943,
 31.140387657620973,
 26.024762151714768,
 25.45794045754184,
 25.45794045754184,
 31.508525919266578,
 20.487514211590224,
 25.45794045754184,
 31.79735769565579,
 26.024762151714768,
 25.45794045754184,
 25.59232126393742,
 25.59232126393742,
 30.33069027022898,
 26.24040501713663,
 25.45794045754184,
 25.63350083789109,
 27.621022690586283,
 29.65923564843827,
 29.65923564843827,
 26.800578763553325,
 31.070706525145876,
 28.832476481017007,
 26.84971585420363,
 32.028629966875215,
 16.4766633187602,
 28.473845229178206,
 28.47639966644523,
 30.348398690302805,
 31.508525919266578,
 17.422141262903406,
 17.422141262903406,
 31.128770591138576,
 24.315640057187455,
 24.321693020649263,
 24.321693020649263,
 32.028629966875215,
 26.70148257291644,
 25.466720758837315,
 31.221134305735745,
 30.895810995568546,
 27.2887166059459,
 31.17473136773072,
 30.17528801117895,
 27.44629814127629,
 30.895810995568546,
 20.176166054060104,
 20.47277131995257,
 28.473845229178206,
 25.597156173008376,
 26.24040501713663,
 31.070706525145876,
 28.473845229178206,
 31.386632877333934,
 26.179597082811934,
 28.473845229178206,
 25.45794045754184,
 25.45794045754184,
 32.028629966875215,
 21.80040792369163,
 22.629342894946994,
 20.126761303560183,
 25.45794045754184,
 25.338664323526242,
 25.45794045754184,
 31.2759718014885,
 31.140387657620973,
 29.83957830483313,
 31.79735769565579,
 11.396643842578381,
 25.574486968515217,
 25.35240887566518,
 25.636480848053996,
 25.636480848053996,
 22.17287866952242,
 26.024762151714768,
 25.45794045754184,
 29.13100473118589,
 25.45794045754184,
 30.964537596829736,
 29.13100473118589,
 25.45794045754184,
 31.79735769565579,
 26.07622192377287,
 20.01803086245617,
 25.45794045754184,
 28.027732059570248,
 20.504010635733785,
 25.173142693155036,
 30.40296312754066,
 31.855247309436137,
 20.384887816330423,
 20.38005786357372,
 28.148746698722785,
 31.638241416622186,
 31.2759718014885,
 31.937887090216343,
 29.5142037626681,
 25.45794045754184,
 29.8413480394324,
 28.473845229178206,
 30.33950427090323,
 30.895810995568546,
 31.79735769565579,
 26.2971464242943,
 30.895810995568546,
 31.79735769565579,
 26.179597082811934,
 31.79735769565579,
 31.10681271532487,
 25.912636342594496,
 23.544961125776126,
 20.233385363146933,
 31.937887090216343,
 25.175975481622572,
 31.508525919266578,
 26.194675691162857,
 26.24040501713663,
 26.024762151714768,
 30.262723822773804,
 31.086733065276224,
 28.80624566112408,
 31.855247309436137,
 31.638241416622186,
 31.79735769565579,
 25.45794045754184,
 31.79735769565579,
 28.473845229178206,
 30.524436983889984,
 32.028629966875215,
 28.927699589528427,
 25.45794045754184,
 32.028629966875215,
 27.11059298753685,
 31.79735769565579,
 30.918230445358635,
 32.028629966875215,
 32.028629966875215,
 25.45794045754184,
 31.221134305735745,
 30.918230445358635,
 31.875681518083837,
 25.45794045754184,
 21.580706073129598,
 23.609784632145352,
 31.937887090216343,
 25.004970161997523,
 24.17442295951059,
 26.24040501713663,
 28.473845229178206,
 26.24040501713663,
 27.898743173323385,
 24.31508834352566,
 24.460530838674174,
 24.460530838674174,
 25.45522887698017,
 25.45522887698017,
 27.797291031947005,
 23.027558888260813,
 23.027558888260813,
 31.875681518083837,
 29.42970206858633,
 31.086733065276224,
 25.555139291944734,
 22.408156060443705,
 22.408156060443705,
 31.937887090216343,
 31.875681518083837,
 30.895810995568546,
 31.855247309436137,
 31.937887090216343,
 32.028629966875215,
 31.638241416622186,
 31.10086171511612,
 31.508525919266578,
 23.61163431768996,
 31.937887090216343,
 14.677900639093853,
 28.473845229178206,
 31.350278940550922,
 24.70505984364529,
 22.408156060443705,
 28.473845229178206,
 25.897509399080132,
 31.2759718014885,
 31.108526091545038,
 30.361448657211415,
 31.638241416622186,
 31.108526091545038,
 30.93866494490743,
 27.002896898056534,
 23.769239511940906,
 19.366423037517457,
 28.473845229178206,
 28.473845229178206,
 28.473845229178206,
 30.46868204987943,
 31.937887090216343,
 31.937887090216343,
 24.810142941319423,
 30.40296312754066,
 28.6708636330714,
 26.179597082811934,
 25.45794045754184,
 31.350278940550922,
 31.875681518083837,
 26.89772319903882,
 25.687523835851593,
 25.147729296688706,
 25.147729296688706,
 29.74043197885304,
 31.855247309436137,
 31.855247309436137,
 25.45794045754184,
 28.473845229178206,
 30.5406514716558,
 25.004970161997523,
 25.45794045754184,
 31.638241416622186,
 21.979955996978244,
 24.878902234832733,
 31.79735769565579,
 21.170256547930883,
 24.126626031645817,
 25.154655182184992,
 25.59232126393742,
 28.927699589528427,
 30.623743879873345,
 31.086733065276224,
 28.416822892558255,
 30.428917306005125,
 31.378452464615137,
 25.466720758837315,
 28.44894601597907,
 27.957606715379818,
 31.386632877333934,
 31.638241416622186,
 22.32107895455267,
 30.322150212180663,
 27.527799410045944,
 23.625495681289884,
 26.89417649092036,
 16.040619040889148,
 16.013504974469825,
 26.89417649092036,
 16.013504974469825,
 15.622724788245042,
 30.573445688050825,
 31.508525919266578,
 30.918230445358635,
 31.140387657620973,
 31.855247309436137,
 27.801536291382696,
 31.350278940550922,
 28.473845229178206,
 28.927699589528427,
 31.937887090216343,
 24.30091839210506,
 31.79735769565579,
 31.086733065276224,
 29.443219873656783,
 23.097727063970595,
 29.423197745526483,
 25.67446879580099,
 25.67446879580099,
 25.218113733488696,
 26.07622192377287,
 22.485615324872523,
 25.154655182184992,
 32.028629966875215,
 31.937887090216343,
 30.79054502401766,
 31.79735769565579,
 29.135701408012388,
 31.638241416622186,
 28.14447445118529,
 31.855247309436137,
 29.13100473118589,
 27.49119726946842,
 28.927699589528427,
 31.79735769565579,
 29.096050448783693,
 30.939489151678696,
 31.855247309436137,
 28.35161915738674,
 21.983725044291663,
 21.497403437974484,
 22.167246028660447,
 29.19412365237043,
 31.937887090216343,
 27.735271879105678,
 31.221134305735745,
 32.028629966875215,
 20.524222901581723,
 25.755281192593635,
 31.638241416622186,
 31.508525919266578,
 26.07622192377287,
 31.140387657620973,
 24.741322608718036,
 27.298502676299133,
 29.797765234620368,
 25.45794045754184,
 28.473845229178206,
 24.122638990068776,
 24.122638990068776,
 25.991449310661118,
 25.991449310661118,
 25.466720758837315,
 25.875674934147487,
 26.07622192377287,
 26.07622192377287,
 26.07622192377287,
 24.709130207209185,
 30.895810995568546,
 26.079595148402426,
 32.028629966875215,
 24.895590776312197,
 25.45794045754184,
 31.508525919266578,
 25.45794045754184,
 21.337054894283735,
 26.24040501713663,
 31.108526091545038,
 30.373373938367063,
 31.386632877333934,
 26.393684575529978,
 27.291202716621296,
 31.79735769565579,
 28.542681990548203,
 28.542681990548203,
 31.350278940550922,
 29.46084622620741,
 30.918230445358635,
 24.895490091636287,
 25.08151195088257,
 25.45794045754184,
 25.238404031594275,
 31.386632877333934,
 23.48763430049338,
 31.937887090216343,
 31.140387657620973,
 31.221134305735745,
 30.184327027797032,
 30.270359683949966,
 30.9428709181147,
 30.9428709181147,
 28.473845229178206,
 28.473845229178206,
 24.437427787195734,
 28.473845229178206,
 29.006181837919684,
 32.028629966875215,
 25.45794045754184,
 32.028629966875215,
 25.45794045754184,
 31.378452464615137,
 22.60217161583211,
 30.665785720062175,
 29.83957830483313,
 24.344713764670875,
 27.337039061710303,
 26.07622192377287,
 31.937887090216343,
 27.63511539551131,
 31.79735769565579,
 31.79735769565579,
 31.086733065276224,
 31.086733065276224,
 29.15320575611632,
 27.898743173323385,
 29.68199806453163,
 24.93582281772204,
 25.45794045754184,
 32.028629966875215,
 24.096504845023656,
 24.06710035514889,
 29.985590069092964,
 24.344713764670875,
 27.05272280912689,
 26.55971061101709,
 28.072043388151542,
 21.052134301945202,
 26.07622192377287,
 26.07622192377287,
 23.067188652436222,
 22.93604630090882,
 28.473845229178206,
 29.34651612277384,
 31.855247309436137,
 25.45794045754184,
 31.508525919266578,
 31.378452464615137,
 25.45794045754184,
 31.875681518083837,
 26.179597082811934,
 31.937887090216343,
 27.57367550696151,
 31.086733065276224,
 30.599842523009347,
 31.386632877333934,
 24.867250316959904,
 30.99434157625971,
 26.179597082811934,
 26.179597082811934,
 25.212387203760056,
 26.179597082811934,
 29.680056987233208,
 26.179597082811934,
 31.508525919266578,
 25.45794045754184,
 32.028629966875215,
 28.473845229178206,
 15.325176343322328,
 31.79735769565579,
 29.500957361551485,
 29.500957361551485,
 29.164308786330068,
 29.46084622620741,
 28.14075063258525,
 30.918230445358635,
 31.128770591138576,
 26.360731697116197,
 29.455323030237025,
 29.523605439168133,
 31.17473136773072,
 31.638241416622186,
 32.028629966875215,
 20.77505204668436,
 31.508525919266578,
 26.179597082811934,
 26.179597082811934,
 25.45794045754184,
 31.17473136773072,
 31.937887090216343,
 30.502713298991605,
 26.32830442299703,
 31.79735769565579,
 26.07622192377287,
 25.45794045754184,
 27.141993664384945,
 27.66193627280362,
 19.439900667560202,
 30.158471339490177,
 25.56533570320272,
 31.855247309436137,
 26.35063213050976,
 25.75710676206089,
 26.436167728556867,
 29.61162275897205,
 29.443219873656783,
 30.79054502401766,
 31.855247309436137,
 25.45794045754184,
 25.45794045754184,
 28.36537330323144,
 25.45794045754184,
 31.221134305735745,
 25.45794045754184,
 31.140387657620973,
 25.211336700527962,
 26.405492127689076,
 15.43390227301996,
 30.93913621198881,
 30.93913621198881,
 27.11192543485804,
 31.153903244600297,
 25.45794045754184,
 13.796048945822509,
 24.505663524538683,
 23.686522659886677,
 32.028629966875215,
 31.10086171511612,
 29.714073768869103,
 31.937887090216343,
 31.937887090216343,
 30.36144865721141,
 25.45794045754184,
 23.596141415879533,
 25.264244362176655,
 32.028629966875215,
 24.885708786710293,
 31.79735769565579,
 18.61119180462901,
 25.90758350505406,
 21.99064256982674,
 26.179597082811934,
 26.179597082811934,
 24.042192121876496,
 21.980617312094875,
 31.855247309436137,
 25.798723325421044,
 23.14524061848989,
 25.45794045754184,
 31.638241416622186,
 31.2759718014885,
 31.166034450663805,
 28.927699589528427,
 28.473845229178206,
 24.902455005878167,
 32.028629966875215,
 28.921949957372007,
 27.691610437667027,
 30.895810995568546,
 22.151166350106305,
 30.943400887738502,
 21.393165846490152,
 29.74985628017133,
 29.74985628017133,
 24.735623156035373,
 26.07622192377287,
 25.348672500650675,
 31.855247309436137,
 25.395976526712012,
 25.422696969631986,
 29.86030700193928,
 24.65437428272785,
 32.028629966875215,
 30.573445688050825,
 21.19114598234626,
 24.11900159198527,
 31.115456685853985,
 25.45794045754184,
 29.70686970557492,
 31.79735769565579,
 28.473845229178206,
 28.473845229178206,
 31.070706525145876,
 25.45794045754184,
 31.10086171511612,
 25.24962177199486,
 28.473845229178206,
 31.79735769565579,
 31.875681518083837,
 32.028629966875215,
 31.937887090216343,
 17.244115668033455,
 24.356838252660324,
 25.45794045754184,
 26.07622192377287,
 22.759938195139053,
 22.759938195139053,
 18.633502112487097,
 30.573445688050825,
 29.799388997704362,
 30.06642405427616,
 31.108526091545038,
 16.878121585794958,
 28.58837460031108,
 32.028629966875215,
 31.140387657620973,
 26.906669686199045,
 25.45794045754184,
 32.028629966875215,
 28.473845229178206,
 32.028629966875215,
 29.096050448783693,
 25.8089868577704,
 31.937887090216343,
 28.136690927686576,
 31.79735769565579,
 25.63964720126035,
 19.17227136967045,
 32.028629966875215,
 31.875681518083837,
 31.350278940550922,
 31.350278940550922,
 26.655072353073866,
 24.59247721409019,
 26.179597082811934,
 31.937887090216343,
 32.028629966875215,
 23.138587599283838,
 30.946152958818686,
 30.579868157318764,
 23.63784891672626,
 31.386632877333934,
 25.45794045754184,
 20.84359310699516,
 20.84359310699516,
 26.393684575529978,
 25.48013660240454,
 32.028629966875215,
 28.955823488779092,
 25.50993088851759,
 30.579868157318764,
 31.35366977966606,
 28.6708636330714,
 20.84359310699516,
 26.07622192377287,
 26.07622192377287,
 28.439533348104735,
 26.697104123904698,
 30.262723822773804,
 30.262723822773804,
 24.143098942244926,
 28.95880525157918,
 31.79735769565579,
 31.086733065276224,
 31.086733065276224,
 25.954435941833594,
 31.79735769565579,
 32.028629966875215,
 31.128770591138576,
 31.937887090216343,
 31.875681518083837,
 22.2438766276721,
 31.79735769565579,
 31.937887090216343,
 17.213541600960447,
 31.140387657620973,
 31.140387657620973,
 31.855247309436137,
 25.14620116490268,
 29.443219873656783,
 28.832476481017007,
 28.473845229178206,
 31.875681518083837,
 31.086733065276224,
 26.32830442299703,
 23.83010702747663,
 30.936626244979404,
 32.028629966875215,
 25.669141993841965,
 31.086733065276224,
 25.978711278529506,
 32.028629966875215,
 26.179597082811934,
 31.140387657620973,
 23.902192966986835,
 27.687124649412105,
 25.59999027980951,
 30.599842523009347,
 30.334229376269708,
 30.428917306005125,
 25.45794045754184,
 31.79735769565579,
 31.79735769565579,
 31.086733065276224,
 31.508525919266578,
 22.591505257104625,
 31.937887090216343,
 25.02789960336389,
 24.173854290040588,
 31.875681518083837,
 30.390603193060677,
 27.88404492885784,
 28.48058296655406,
 28.48058296655406,
 19.295867989149816,
 28.116679591549214,
 28.927699589528427,
 28.927699589528427,
 30.895810995568546,
 31.79735769565579,
 26.07622192377287,
 25.45794045754184,
 31.79735769565579,
 28.473845229178206,
 30.277873718669944,
 31.108526091545038,
 29.786178116265884,
 29.786178116265884,
 29.786178116265884,
 26.07622192377287,
 26.697104123904698,
 26.179597082811934,
 26.024762151714768,
 27.11059298753685,
 25.45794045754184,
 26.082759805525576,
 25.45794045754184,
 30.17528801117895,
 31.79735769565579,
 25.45794045754184,
 22.23555821834693,
 28.473845229178206,
 24.37426128820817,
 22.559186667466687,
 31.086733065276224,
 31.128770591138576,
 28.090204088513918,
 25.04444121259304,
 25.755281192593635,
 28.473845229178206,
 32.028629966875215,
 22.321267957744364,
 27.241782812177846,
 24.666393454686514,
 30.573445688050825,
 29.918942455554753,
 28.677273672322503,
 30.599842523009347,
 23.65229416205157,
 29.428391543873555,
 27.407987487737575,
 25.45794045754184,
 22.36745265070368,
 31.937887090216343,
 26.07622192377287,
 29.143537275279215,
 16.301452494857074,
 31.79735769565579,
 25.02789960336389,
 28.927699589528427,
 31.875681518083837,
 31.00465048967246,
 26.32830442299703,
 26.07622192377287,
 31.2759718014885,
 26.179597082811934,
 30.895810995568546,
 31.638241416622186,
 29.389585638185974,
 26.179597082811934,
 28.709993079314568,
 15.67239030235626,
 31.638241416622186,
 30.599842523009347,
 29.152353336173594,
 31.086733065276224,
 25.175975481622572,
 27.337039061710303,
 30.895810995568546,
 30.895810995568546,
 23.486441041042667,
 26.07622192377287,
 25.45794045754184,
 25.45794045754184,
 20.455927420960528,
 20.455927420960528,
 27.131171187630752,
 31.855247309436137,
 31.79735769565579,
 28.18940275701967,
 25.06383857148786,
 27.213167592178497,
 27.213167592178497,
 29.443219873656783,
 30.573445688050825,
 26.3600563601065,
 25.48399059819631,
 31.937887090216343,
 24.384316976528634,
 28.635957401791515,
 32.028629966875215,
 30.944015392795745,
 28.473845229178206,
 21.698855965791626,
 24.000048407887885,
 29.373625133023417,
 24.205936500078177,
 30.3338752337355,
 30.969889381935293,
 31.875681518083837,
 23.543364931588414,
 32.028629966875215,
 31.10086171511612,
 16.476005533661077,
 16.30641799291354,
 16.476005533661077,
 21.83121159505151,
 24.375706567332475,
 31.378452464615137,
 25.154655182184992,
 31.386632877333934,
 28.849916378676593,
 25.000971263785356,
 31.386632877333934,
 23.65180891255559,
 20.204641201172592,
 27.134420180878564,
 22.544057800003767,
 23.62520359398909,
 23.62520359398909,
 32.028629966875215,
 25.48013660240454,
 31.11052323480542,
 29.249664749322516,
 32.028629966875215,
 28.709993079314568,
 20.77455879449081,
 25.26027548668649,
 25.31658943965365,
 29.13100473118589,
 30.73825613190455,
 27.345485720847947,
 31.937887090216343,
 23.589429050584485,
 31.17473136773072,
 31.508525919266578,
 31.2759718014885,
 31.855247309436137,
 30.895810995568546,
 27.040479975317247,
 31.070706525145876,
 24.139116968896026,
 21.044498903165692,
 28.473845229178206,
 28.473845229178206,
 31.140387657620973,
 31.937887090216343,
 20.52890425196778,
 26.569249640547078,
 23.506462466679412,
 31.086733065276224,
 29.13100473118589,
 28.244126410910887,
 24.384316976528634,
 30.573445688050825,
 31.875681518083837,
 23.475407318755252,
 23.475407318755252,
 23.56371114933855,
 28.473845229178206,
 32.028629966875215,
 30.579126536999897,
 31.638241416622186,
 28.660156358110388,
 28.660156358110388,
 31.875681518083837,
 32.028629966875215,
 28.635957401791515,
 27.26693334759735,
 29.41342404155341,
 29.41342404155341,
 31.140387657620973,
 27.298502676299133,
 24.728769294108606,
 24.728769294108606,
 20.651381411618168,
 31.855247309436137,
 27.352069988096087,
 23.713349742190236,
 28.476575059020963,
 28.927699589528427,
 24.626324417281392,
 29.083361836144046,
 31.140387657620973,
 31.386632877333934,
 26.579748913492466,
 31.79735769565579,
 25.45794045754184,
 30.573445688050825,
 18.76197099021855,
 22.809886857748282,
 25.45794045754184,
 25.45794045754184,
 30.272616318740795,
 31.638241416622186,

In [103]:
import numpy as np

index_min1 = np.argmin(mse1)
index_min1

188

In [100]:
import math

mse2 = []
for s1 in codes:
    sum_diff = 0  
    for s2 in codes:
        s = difflib.SequenceMatcher(None, s1, s2).quick_ratio()
        sum_diff += s**2
    mse2.append(math.sqrt(sum_diff))
mse2

[33.967532964450264,
 30.253643431133394,
 33.11370301653029,
 19.478016858392802,
 32.85222160465211,
 33.756635699250154,
 34.008337251194064,
 32.7135339420767,
 27.662928477922787,
 27.379949617801152,
 24.100926391398207,
 34.008337251194064,
 32.339552813348,
 33.364916428022674,
 33.364916428022674,
 34.008337251194064,
 22.20739321006632,
 22.36687301265713,
 25.20243506714277,
 28.299655474622412,
 30.924850721728887,
 30.924850721728887,
 33.011947337816174,
 33.011066102393094,
 33.262119769308796,
 27.662928477922787,
 34.275280750030895,
 30.924850721728887,
 34.275280750030895,
 33.02361362727714,
 30.924850721728887,
 32.16805009118121,
 34.275280750030895,
 26.56892314908253,
 34.275280750030895,
 34.275280750030895,
 33.47818916514245,
 24.515900576337057,
 33.756635699250154,
 28.193368451462366,
 27.632130530243238,
 31.540452898697517,
 34.275280750030895,
 33.18566890574943,
 34.275280750030895,
 34.275280750030895,
 34.275280750030895,
 32.42514339785039,
 27.509490651470088,
 30.924850721728887,
 30.924850721728887,
 26.91390233061402,
 23.617602778937922,
 34.275280750030895,
 33.262119769308796,
 33.967532964450264,
 30.984159847729703,
 30.984159847729703,
 32.85222160465211,
 33.262119769308796,
 33.426085737587535,
 34.275280750030895,
 23.917012798844528,
 33.756635699250154,
 25.746880545002238,
 30.924850721728887,
 33.0751247033807,
 32.495067740992,
 33.11370301653029,
 32.85222160465211,
 31.16181103358291,
 33.01690818612336,
 32.49151677144838,
 32.49151677144838,
 27.897327269825155,
 33.013137344901324,
 31.501500881627777,
 30.924850721728887,
 32.823999061922166,
 34.275280750030895,
 32.143617235235006,
 32.60329974630421,
 33.53258209507691,
 33.364916428022674,
 32.85222160465211,
 34.275280750030895,
 30.271357601139773,
 32.85222160465211,
 34.008337251194064,
 34.008337251194064,
 31.188699295772384,
 22.911968667425125,
 29.455179037950863,
 25.25492306769116,
 27.768189217133074,
 33.0751247033807,
 22.70094092724993,
 21.568979672359394,
 21.568979672359394,
 21.855575797462777,
 34.275280750030895,
 33.756635699250154,
 30.924850721728887,
 30.37487965956595,
 32.60329974630421,
 26.982590415105086,
 34.008337251194064,
 32.44115512882083,
 34.275280750030895,
 31.47480291906561,
 33.756635699250154,
 33.967532964450264,
 33.18566890574943,
 30.287673733614515,
 33.756635699250154,
 34.275280750030895,
 33.0751247033807,
 34.275280750030895,
 30.924850721728887,
 33.18566890574943,
 34.008337251194064,
 32.16805009118121,
 30.924850721728887,
 30.924850721728887,
 32.85222160465211,
 23.85083772022794,
 30.924850721728887,
 33.11370301653029,
 32.16805009118121,
 30.924850721728887,
 28.688152763797344,
 28.688152763797344,
 33.011066102393094,
 27.8931718536494,
 30.924850721728887,
 27.832674499622097,
 29.72707592811378,
 31.07277188845859,
 31.07277188845859,
 29.729918753060844,
 33.47818916514245,
 30.112612925291018,
 30.449340000973454,
 33.364916428022674,
 20.465113430561935,
 34.275280750030895,
 30.19073117562738,
 32.18823509808092,
 32.85222160465211,
 18.94463072235292,
 18.94463072235292,
 33.967532964450264,
 26.952615908134106,
 26.95807679140713,
 26.95807679140713,
 33.364916428022674,
 33.618331854174336,
 27.139882646442086,
 33.318887800008284,
 33.28880830018354,
 29.042051415019465,
 32.508393358744996,
 31.903996755432647,
 29.29300850005181,
 33.28880830018354,
 22.22203022049295,
 22.611227015926666,
 34.275280750030895,
 27.342519262695248,
 27.8931718536494,
 33.47818916514245,
 34.275280750030895,
 32.7135339420767,
 34.275280750030895,
 34.275280750030895,
 30.924850721728887,
 30.924850721728887,
 33.364916428022674,
 30.75225279330289,
 24.104256371757298,
 22.076289577817285,
 30.924850721728887,
 26.918088422026482,
 30.924850721728887,
 32.60329974630421,
 34.008337251194064,
 31.637174221563157,
 33.11370301653029,
 15.038712762281639,
 27.948782128358417,
 27.761203251172216,
 27.156499678700094,
 27.156499678700094,
 24.757953528380856,
 32.16805009118121,
 30.924850721728887,
 32.339552813348,
 30.924850721728887,
 33.042876149317436,
 32.339552813348,
 30.924850721728887,
 33.11370301653029,
 32.42514339785039,
 22.93287745787544,
 30.924850721728887,
 30.285366065749624,
 22.453647396361873,
 27.053879233047986,
 32.12932797967225,
 33.967532964450264,
 23.299202662655265,
 23.00428064934317,
 30.98316652011309,
 33.756635699250154,
 32.60329974630421,
 33.262119769308796,
 31.087284331117864,
 30.924850721728887,
 33.07407227583916,
 34.275280750030895,
 31.759386583356903,
 33.28880830018354,
 33.11370301653029,
 28.61928660018488,
 33.28880830018354,
 33.11370301653029,
 34.275280750030895,
 33.11370301653029,
 32.85279052137234,
 28.38119688125245,
 25.384522166201776,
 22.60350231958594,
 33.262119769308796,
 27.173448930883197,
 32.85222160465211,
 28.686284722142855,
 27.8931718536494,
 32.16805009118121,
 32.58156734841072,
 33.53258209507691,
 29.988562726956562,
 33.967532964450264,
 33.756635699250154,
 33.11370301653029,
 30.924850721728887,
 33.11370301653029,
 34.275280750030895,
 32.87432576400828,
 33.364916428022674,
 33.618331854174336,
 30.924850721728887,
 33.364916428022674,
 33.01372300205848,
 33.11370301653029,
 33.756635699250154,
 33.364916428022674,
 33.364916428022674,
 30.924850721728887,
 33.318887800008284,
 33.756635699250154,
 34.008337251194064,
 30.924850721728887,
 24.33354655099798,
 25.89161341189724,
 33.262119769308796,
 26.749977742692646,
 26.07374653416683,
 27.8931718536494,
 34.275280750030895,
 27.8931718536494,
 29.524506499137452,
 26.938287398653237,
 27.167715776990395,
 27.167715776990395,
 27.04239851086878,
 27.04239851086878,
 29.419450973350898,
 25.2585915555598,
 25.2585915555598,
 34.008337251194064,
 32.5840474318437,
 33.53258209507691,
 27.71262911712125,
 24.196642744014717,
 24.196642744014717,
 33.262119769308796,
 34.008337251194064,
 33.28880830018354,
 33.967532964450264,
 33.262119769308796,
 33.364916428022674,
 33.756635699250154,
 33.18566890574943,
 32.85222160465211,
 26.04272392650392,
 33.262119769308796,
 19.938007806874527,
 34.275280750030895,
 33.426085737587535,
 26.598091770412044,
 24.196642744014717,
 34.275280750030895,
 28.725147631893734,
 32.60329974630421,
 32.44115512882083,
 31.828606722583427,
 33.756635699250154,
 32.44115512882083,
 33.01553674644993,
 28.634239967497468,
 25.560439512528447,
 22.017315033958642,
 34.275280750030895,
 34.275280750030895,
 34.275280750030895,
 33.18566890574943,
 33.262119769308796,
 33.262119769308796,
 26.808976733697254,
 32.12932797967225,
 29.943300581532043,
 34.275280750030895,
 30.924850721728887,
 33.426085737587535,
 34.008337251194064,
 28.977996615522123,
 27.217559951393294,
 27.238961019707318,
 27.238961019707318,
 31.52983913911906,
 33.967532964450264,
 33.967532964450264,
 30.924850721728887,
 34.275280750030895,
 32.010536928998434,
 26.749977742692646,
 30.924850721728887,
 33.756635699250154,
 25.15668393032208,
 27.568433816706545,
 33.11370301653029,
 22.73414809328272,
 25.880022581205633,
 26.78151149912136,
 28.688152763797344,
 33.618331854174336,
 32.97239490371237,
 33.53258209507691,
 31.424064945021797,
 32.16258638193103,
 32.85279052137234,
 27.139882646442086,
 30.95179816646275,
 29.88552691126397,
 32.7135339420767,
 33.756635699250154,
 25.21368863136115,
 32.64909571828316,
 28.92388865053289,
 24.941960795579163,
 28.683151850963117,
 18.69146507066471,
 20.696586303628106,
 28.683151850963117,
 20.696586303628106,
 20.21506665890484,
 32.39787680472014,
 32.85222160465211,
 33.756635699250154,
 34.008337251194064,
 33.967532964450264,
 30.281703134851824,
 33.426085737587535,
 34.275280750030895,
 33.618331854174336,
 33.262119769308796,
 25.809749722896672,
 33.11370301653029,
 33.53258209507691,
 30.862073840328776,
 24.98569195307457,
 31.206961231467325,
 33.70305890500895,
 33.70305890500895,
 33.618331854174336,
 32.42514339785039,
 25.02499310748685,
 26.78151149912136,
 33.364916428022674,
 33.262119769308796,
 32.261022261262575,
 33.11370301653029,
 31.62679502752743,
 33.756635699250154,
 31.32692468932896,
 33.967532964450264,
 32.339552813348,
 31.111325518022603,
 33.618331854174336,
 33.11370301653029,
 32.279878141037614,
 33.01603318220395,
 33.967532964450264,
 29.94694846014852,
 23.828542664251415,
 23.388985691646585,
 24.124913069066952,
 30.5980656636079,
 33.262119769308796,
 30.193342038933867,
 33.318887800008284,
 33.364916428022674,
 23.42701535428857,
 27.805561060303695,
 33.756635699250154,
 32.85222160465211,
 32.42514339785039,
 34.008337251194064,
 29.156089242965738,
 30.908104548961862,
 33.02275766911753,
 30.924850721728887,
 34.275280750030895,
 26.130581125210796,
 26.130581125210796,
 27.624296235081736,
 27.624296235081736,
 27.139882646442086,
 27.46003403243951,
 32.42514339785039,
 32.42514339785039,
 32.42514339785039,
 27.395345697335834,
 33.28880830018354,
 28.329358548636684,
 33.364916428022674,
 26.34781310230818,
 30.924850721728887,
 32.85222160465211,
 30.924850721728887,
 23.332335966832712,
 27.8931718536494,
 32.44115512882083,
 31.839982502135168,
 32.7135339420767,
 28.088181840729376,
 31.001069366516013,
 33.11370301653029,
 30.197174000999194,
 30.197174000999194,
 33.426085737587535,
 30.839728718691884,
 33.756635699250154,
 27.0026018746182,
 27.112666921485108,
 30.924850721728887,
 27.363034746321503,
 32.7135339420767,
 24.90315926818877,
 33.262119769308796,
 34.008337251194064,
 33.318887800008284,
 32.05345679962125,
 32.58865988501592,
 33.01858419814705,
 33.01858419814705,
 34.275280750030895,
 34.275280750030895,
 28.040645671226805,
 34.275280750030895,
 30.41664538885108,
 33.364916428022674,
 30.924850721728887,
 33.364916428022674,
 30.924850721728887,
 32.85279052137234,
 23.94877215358993,
 32.2490762068836,
 31.637174221563157,
 33.618331854174336,
 30.268654874862552,
 32.42514339785039,
 33.262119769308796,
 30.80716955154867,
 33.11370301653029,
 33.11370301653029,
 33.53258209507691,
 33.53258209507691,
 30.9092894099132,
 29.524506499137452,
 31.46987018167354,
 30.48545569591275,
 30.924850721728887,
 33.364916428022674,
 25.535233246612336,
 26.56892314908253,
 32.535249871098664,
 33.618331854174336,
 29.86208847614433,
 30.12426265596435,
 31.252171635478934,
 24.26243319663589,
 32.42514339785039,
 32.42514339785039,
 24.86159842890628,
 24.728030753440976,
 34.275280750030895,
 31.14494176143499,
 33.967532964450264,
 30.924850721728887,
 32.85222160465211,
 32.85279052137234,
 30.924850721728887,
 34.008337251194064,
 34.275280750030895,
 33.262119769308796,
 29.196708040552576,
 33.53258209507691,
 32.44324392803115,
 32.7135339420767,
 26.328027062280455,
 33.07407227583916,
 34.275280750030895,
 34.275280750030895,
 28.34971454763756,
 34.275280750030895,
 31.468039387828675,
 34.275280750030895,
 32.85222160465211,
 30.924850721728887,
 33.364916428022674,
 34.275280750030895,
 21.63455309548642,
 33.11370301653029,
 32.18823509808092,
 32.18823509808092,
 30.9092894099132,
 30.839728718691884,
 31.208905462258368,
 33.756635699250154,
 33.967532964450264,
 29.03820565694135,
 30.85956165429782,
 31.239547000067233,
 32.508393358744996,
 33.756635699250154,
 33.364916428022674,
 23.21171823574016,
 32.85222160465211,
 34.275280750030895,
 34.275280750030895,
 30.924850721728887,
 32.508393358744996,
 33.262119769308796,
 33.756635699250154,
 29.000259584265827,
 33.11370301653029,
 32.42514339785039,
 30.924850721728887,
 29.907493691259106,
 31.157182051827075,
 21.46493495087468,
 33.53258209507691,
 28.321479171792245,
 33.967532964450264,
 27.956407554436797,
 27.819782195354367,
 28.26068196051156,
 31.188699295772384,
 30.862073840328776,
 32.261022261262575,
 33.967532964450264,
 30.924850721728887,
 30.924850721728887,
 29.53389906377432,
 30.924850721728887,
 33.318887800008284,
 30.924850721728887,
 34.008337251194064,
 30.980027232173494,
 28.419817016028624,
 18.92119686181977,
 33.01508430004405,
 33.01508430004405,
 30.462776889886058,
 32.48516454591159,
 30.924850721728887,
 19.149330848504643,
 27.98922149811731,
 27.05783912908312,
 33.364916428022674,
 33.18566890574943,
 31.501500881627777,
 33.262119769308796,
 33.262119769308796,
 31.828606722583427,
 30.924850721728887,
 25.31966536039163,
 26.78152806727267,
 33.364916428022674,
 28.284142670435006,
 33.11370301653029,
 21.53540576424092,
 29.6499332901887,
 23.857268565778465,
 34.275280750030895,
 34.275280750030895,
 27.113430194741508,
 25.300936896992738,
 33.967532964450264,
 28.57738943005567,
 26.082147693526665,
 30.924850721728887,
 33.756635699250154,
 32.60329974630421,
 32.49698062330472,
 33.618331854174336,
 34.275280750030895,
 26.952615908134106,
 33.364916428022674,
 30.267958021646695,
 29.163668387389045,
 33.28880830018354,
 25.029191368970224,
 33.01908085174864,
 23.516121760406488,
 31.540452898697517,
 31.540452898697517,
 27.541312202880146,
 32.42514339785039,
 28.815483844907863,
 33.967532964450264,
 27.119449912738265,
 26.982590415105086,
 31.58336179963429,
 26.17957373434718,
 33.364916428022674,
 32.39787680472014,
 22.943710893825912,
 26.44688667759987,
 32.588876763917995,
 30.924850721728887,
 32.39787680472014,
 33.11370301653029,
 34.275280750030895,
 34.275280750030895,
 33.47818916514245,
 30.924850721728887,
 33.18566890574943,
 27.238961019707318,
 34.275280750030895,
 33.11370301653029,
 34.008337251194064,
 33.364916428022674,
 33.262119769308796,
 19.608417424463962,
 27.020522046954362,
 30.924850721728887,
 32.42514339785039,
 24.535643168362697,
 24.535643168362697,
 20.15161021581496,
 32.39787680472014,
 33.036403674757054,
 31.87393033665674,
 32.44115512882083,
 22.388580443094813,
 30.932688956473854,
 33.364916428022674,
 34.008337251194064,
 29.02739301185802,
 30.924850721728887,
 33.364916428022674,
 34.275280750030895,
 33.364916428022674,
 32.279878141037614,
 28.950094356448847,
 33.262119769308796,
 31.31639106118042,
 33.11370301653029,
 28.471527028488982,
 20.567100935365794,
 33.364916428022674,
 34.008337251194064,
 33.426085737587535,
 33.426085737587535,
 28.31051901050508,
 26.001467395706474,
 34.275280750030895,
 33.262119769308796,
 33.364916428022674,
 31.828606722583427,
 33.02361362727714,
 33.318887800008284,
 25.728505451101576,
 32.7135339420767,
 30.924850721728887,
 23.22103385117773,
 23.22103385117773,
 28.088181840729376,
 27.044330620573394,
 33.364916428022674,
 31.515151456241618,
 27.968705389515943,
 33.318887800008284,
 32.823999061922166,
 29.943300581532043,
 23.22103385117773,
 32.42514339785039,
 32.42514339785039,
 29.62853519444422,
 29.41484667668623,
 32.58156734841072,
 32.58156734841072,
 25.77199884272812,
 30.36887146560637,
 33.11370301653029,
 33.53258209507691,
 33.53258209507691,
 28.364736789041377,
 33.11370301653029,
 33.364916428022674,
 33.967532964450264,
 33.262119769308796,
 34.008337251194064,
 25.975331015428516,
 33.11370301653029,
 33.262119769308796,
 20.564814620119957,
 34.008337251194064,
 34.008337251194064,
 33.967532964450264,
 32.04842163539888,
 30.862073840328776,
 30.112612925291018,
 34.275280750030895,
 34.008337251194064,
 33.53258209507691,
 29.000259584265827,
 29.881765169660547,
 33.012732168309945,
 33.364916428022674,
 28.443497704608163,
 33.53258209507691,
 28.173546816602407,
 33.364916428022674,
 34.275280750030895,
 34.008337251194064,
 29.7642557104104,
 31.193909520825958,
 29.167528544099,
 32.44324392803115,
 33.01431787573609,
 32.16258638193103,
 30.924850721728887,
 33.11370301653029,
 33.11370301653029,
 33.53258209507691,
 32.85222160465211,
 25.214060260060222,
 33.262119769308796,
 26.861519846033293,
 25.972519841653895,
 34.008337251194064,
 33.0751247033807,
 30.341828726767357,
 29.88578117984917,
 29.88578117984917,
 22.588454709201315,
 31.184956960774056,
 33.618331854174336,
 33.618331854174336,
 33.28880830018354,
 33.11370301653029,
 32.42514339785039,
 30.924850721728887,
 33.11370301653029,
 34.275280750030895,
 32.598123247791044,
 32.44115512882083,
 33.011066102393094,
 33.011066102393094,
 33.011066102393094,
 32.42514339785039,
 29.41484667668623,
 34.275280750030895,
 32.16805009118121,
 33.01372300205848,
 30.924850721728887,
 28.188598192671307,
 30.924850721728887,
 31.903996755432647,
 33.11370301653029,
 30.924850721728887,
 24.93360262211456,
 34.275280750030895,
 34.008337251194064,
 32.05345679962125,
 33.53258209507691,
 33.967532964450264,
 30.006363845487822,
 28.290827089189463,
 27.805561060303695,
 34.275280750030895,
 33.364916428022674,
 24.318060916739782,
 29.946224327861493,
 26.56003069817813,
 32.39787680472014,
 31.487945245541272,
 31.029946581899342,
 32.44324392803115,
 25.98080534266659,
 32.58156734841072,
 28.777232466630885,
 30.924850721728887,
 23.895399753761172,
 33.262119769308796,
 32.42514339785039,
 33.01880890849412,
 19.96139482369676,
 33.11370301653029,
 26.861519846033293,
 33.618331854174336,
 34.008337251194064,
 33.08269757198347,
 29.000259584265827,
 32.42514339785039,
 32.60329974630421,
 34.275280750030895,
 33.28880830018354,
 33.756635699250154,
 31.206961231467325,
 34.275280750030895,
 31.205907272761944,
 17.552567387697184,
 33.756635699250154,
 32.44324392803115,
 31.904209057004,
 33.53258209507691,
 27.173448930883197,
 30.268654874862552,
 33.28880830018354,
 33.28880830018354,
 26.3062426631518,
 32.42514339785039,
 30.924850721728887,
 30.924850721728887,
 22.71062846429944,
 22.71062846429944,
 29.897528476263098,
 33.967532964450264,
 33.11370301653029,
 30.034761476514873,
 27.999345185188336,
 31.835901030535577,
 31.835901030535577,
 30.862073840328776,
 32.39787680472014,
 28.098295122781693,
 27.473619408719024,
 33.262119769308796,
 26.25214034405325,
 31.011909489237638,
 33.364916428022674,
 33.0254977515357,
 34.275280750030895,
 23.866148379796705,
 27.284424136003047,
 31.14494176143499,
 25.56341623138742,
 33.01554061144626,
 33.044258990657596,
 34.008337251194064,
 25.23717485409507,
 33.364916428022674,
 33.18566890574943,
 19.867235833598567,
 19.58778789566443,
 19.867235833598567,
 28.759574011787496,
 25.828052759137517,
 32.85279052137234,
 26.78151149912136,
 32.7135339420767,
 32.0506862997794,
 27.71638792875654,
 32.7135339420767,
 28.268017975164483,
 21.630656284729582,
 29.900476877951423,
 24.831017631389994,
 25.490038602454653,
 25.490038602454653,
 33.364916428022674,
 27.044330620573394,
 32.44307023768324,
 32.29832436965276,
 33.364916428022674,
 31.205907272761944,
 23.6761395942343,
 26.913748644262256,
 26.974445572920324,
 32.339552813348,
 34.008337251194064,
 28.863475816723547,
 33.262119769308796,
 29.32174388622701,
 32.508393358744996,
 32.85222160465211,
 32.60329974630421,
 33.967532964450264,
 33.28880830018354,
 29.61634689472647,
 33.47818916514245,
 33.756635699250154,
 23.179830959030834,
 34.275280750030895,
 34.275280750030895,
 34.008337251194064,
 33.262119769308796,
 22.779157576249595,
 28.831655175033408,
 31.835901030535577,
 33.53258209507691,
 32.339552813348,
 31.431167015971024,
 26.25214034405325,
 32.39787680472014,
 34.008337251194064,
 26.010686122469405,
 26.010686122469405,
 25.19845346395838,
 34.275280750030895,
 33.364916428022674,
 32.616586018971596,
 33.756635699250154,
 31.96182958482913,
 31.96182958482913,
 34.008337251194064,
 33.364916428022674,
 31.011909489237638,
 30.977707233079613,
 31.098738953891676,
 31.098738953891676,
 34.008337251194064,
 30.908104548961862,
 27.726304130583898,
 27.726304130583898,
 22.776029142705244,
 33.967532964450264,
 30.62862069731303,
 25.45157332768137,
 30.120151872637493,
 33.618331854174336,
 27.46095753556133,
 32.32748819437207,
 34.008337251194064,
 32.7135339420767,
 32.04842163539888,
 33.11370301653029,
 30.924850721728887,
 32.39787680472014,
 22.207456789160748,
 24.970825249914068,
 30.924850721728887,
 30.924850721728887,
 32.59348845844864,
 33.756635699250154,
 32.49698062330472,
 32.44324392803115,
 32.44324392803115,

In [104]:
index_min2 = np.argmin(mse2)
index_min2

188

In [101]:
import math

mse3 = []
for s1 in codes:
    sum_diff = 0  
    for s2 in codes:
        s = difflib.SequenceMatcher(None, s1, s2).real_quick_ratio()
        sum_diff += s**2
    mse3.append(math.sqrt(sum_diff))
mse3

[39.85610143036805,
 39.85610143036805,
 39.152247747842125,
 25.028968931269223,
 39.152247747842125,
 39.85610143036805,
 39.85610143036805,
 39.152247747842125,
 33.99492543789436,
 35.6885856522758,
 31.617482736153743,
 39.85610143036805,
 39.27679990720862,
 39.152247747842125,
 39.152247747842125,
 39.85610143036805,
 29.194073568337735,
 29.662913583766844,
 31.116900216222707,
 38.187120676724234,
 34.291411369519516,
 34.291411369519516,
 39.85610143036805,
 39.85610143036805,
 39.152247747842125,
 33.99492543789436,
 37.85289839675557,
 34.291411369519516,
 37.85289839675557,
 39.85610143036805,
 34.291411369519516,
 37.85289839675557,
 37.85289839675557,
 36.12343239123958,
 37.85289839675557,
 37.85289839675557,
 39.27679990720862,
 32.58008098179338,
 39.85610143036805,
 36.59019408024865,
 33.99492543789436,
 39.622630955783954,
 37.85289839675557,
 39.85610143036805,
 37.85289839675557,
 37.85289839675557,
 37.85289839675557,
 39.152247747842125,
 33.99492543789436,
 34.291411369519516,
 34.291411369519516,
 33.52636482551121,
 31.617482736153743,
 37.85289839675557,
 39.152247747842125,
 39.85610143036805,
 37.63326982327443,
 37.63326982327443,
 39.152247747842125,
 39.152247747842125,
 39.85610143036805,
 37.85289839675557,
 31.116900216222707,
 39.85610143036805,
 32.10886729921706,
 34.291411369519516,
 39.85610143036805,
 39.85610143036805,
 39.152247747842125,
 39.152247747842125,
 38.76204927103813,
 39.85610143036805,
 39.152247747842125,
 39.152247747842125,
 34.833081388779036,
 39.85610143036805,
 39.622630955783954,
 34.291411369519516,
 39.54037407434003,
 37.85289839675557,
 39.54037407434003,
 39.152247747842125,
 39.27679990720862,
 39.152247747842125,
 39.152247747842125,
 37.85289839675557,
 38.76204927103813,
 39.152247747842125,
 39.85610143036805,
 39.85610143036805,
 39.622630955783954,
 31.617482736153743,
 38.76204927103813,
 34.420002531645075,
 33.99492543789436,
 39.85610143036805,
 29.194073568337735,
 27.83114548624032,
 27.83114548624032,
 28.27451308892378,
 37.85289839675557,
 39.85610143036805,
 34.291411369519516,
 37.63326982327443,
 39.152247747842125,
 34.420002531645075,
 39.85610143036805,
 39.152247747842125,
 37.85289839675557,
 39.622630955783954,
 39.85610143036805,
 39.85610143036805,
 39.85610143036805,
 38.76204927103813,
 39.85610143036805,
 37.85289839675557,
 39.85610143036805,
 37.85289839675557,
 34.291411369519516,
 39.85610143036805,
 39.85610143036805,
 37.85289839675557,
 34.291411369519516,
 34.291411369519516,
 39.152247747842125,
 33.056605555788906,
 34.291411369519516,
 39.152247747842125,
 37.85289839675557,
 34.291411369519516,
 34.833081388779036,
 34.833081388779036,
 39.85610143036805,
 35.6885856522758,
 34.291411369519516,
 33.52636482551121,
 38.76204927103813,
 39.85610143036805,
 39.85610143036805,
 36.59019408024865,
 39.27679990720862,
 39.622630955783954,
 37.63326982327443,
 39.152247747842125,
 30.62750244439336,
 37.85289839675557,
 38.76204927103813,
 39.622630955783954,
 39.152247747842125,
 24.671602183009103,
 24.671602183009103,
 39.85610143036805,
 34.833081388779036,
 34.833081388779036,
 34.833081388779036,
 39.152247747842125,
 39.54037407434003,
 35.6885856522758,
 39.85610143036805,
 39.27679990720862,
 38.76204927103813,
 39.152247747842125,
 39.85610143036805,
 38.76204927103813,
 39.27679990720862,
 29.194073568337735,
 29.662913583766844,
 37.85289839675557,
 37.63326982327443,
 35.6885856522758,
 39.27679990720862,
 37.85289839675557,
 39.152247747842125,
 37.85289839675557,
 37.85289839675557,
 34.291411369519516,
 34.291411369519516,
 39.152247747842125,
 37.63326982327443,
 32.10886729921706,
 28.27451308892378,
 34.291411369519516,
 35.24929476765318,
 34.291411369519516,
 39.152247747842125,
 39.85610143036805,
 39.622630955783954,
 39.152247747842125,
 20.07084797719211,
 33.52636482551121,
 35.6885856522758,
 35.6885856522758,
 35.6885856522758,
 33.056605555788906,
 37.85289839675557,
 34.291411369519516,
 39.27679990720862,
 34.291411369519516,
 39.85610143036805,
 39.27679990720862,
 34.291411369519516,
 39.152247747842125,
 39.152247747842125,
 29.194073568337735,
 34.291411369519516,
 38.187120676724234,
 29.662913583766844,
 34.833081388779036,
 39.85610143036805,
 39.85610143036805,
 29.194073568337735,
 29.194073568337735,
 39.85610143036805,
 39.85610143036805,
 39.152247747842125,
 39.152247747842125,
 39.622630955783954,
 34.291411369519516,
 39.85610143036805,
 37.85289839675557,
 39.85610143036805,
 39.27679990720862,
 39.152247747842125,
 37.08920446272074,
 39.27679990720862,
 39.152247747842125,
 37.85289839675557,
 39.152247747842125,
 39.54037407434003,
 34.833081388779036,
 33.056605555788906,
 29.194073568337735,
 39.152247747842125,
 33.99492543789436,
 39.152247747842125,
 34.833081388779036,
 35.6885856522758,
 37.85289839675557,
 39.27679990720862,
 39.27679990720862,
 39.622630955783954,
 39.85610143036805,
 39.85610143036805,
 39.152247747842125,
 34.291411369519516,
 39.152247747842125,
 37.85289839675557,
 39.27679990720862,
 39.152247747842125,
 39.54037407434003,
 34.291411369519516,
 39.152247747842125,
 36.1466025557833,
 39.152247747842125,
 39.85610143036805,
 39.152247747842125,
 39.152247747842125,
 34.291411369519516,
 39.85610143036805,
 39.85610143036805,
 39.85610143036805,
 34.291411369519516,
 31.617482736153743,
 32.10886729921706,
 39.152247747842125,
 33.99492543789436,
 34.420002531645075,
 35.6885856522758,
 37.85289839675557,
 35.6885856522758,
 36.1466025557833,
 33.52636482551121,
 33.056605555788906,
 33.056605555788906,
 35.24929476765318,
 35.24929476765318,
 36.1466025557833,
 31.617482736153743,
 31.617482736153743,
 39.85610143036805,
 39.27679990720862,
 39.27679990720862,
 35.6885856522758,
 31.617482736153743,
 31.617482736153743,
 39.152247747842125,
 39.85610143036805,
 39.27679990720862,
 39.85610143036805,
 39.152247747842125,
 39.152247747842125,
 39.85610143036805,
 39.85610143036805,
 39.152247747842125,
 33.056605555788906,
 39.152247747842125,
 26.976646059184464,
 37.85289839675557,
 39.85610143036805,
 35.24929476765318,
 31.617482736153743,
 37.85289839675557,
 37.63326982327443,
 39.152247747842125,
 39.152247747842125,
 39.54037407434003,
 39.85610143036805,
 39.152247747842125,
 39.85610143036805,
 38.76204927103813,
 32.58008098179338,
 29.194073568337735,
 37.85289839675557,
 37.85289839675557,
 37.85289839675557,
 39.85610143036805,
 39.152247747842125,
 39.152247747842125,
 33.99492543789436,
 39.85610143036805,
 39.622630955783954,
 37.85289839675557,
 34.291411369519516,
 39.85610143036805,
 39.85610143036805,
 36.59019408024865,
 35.6885856522758,
 33.99492543789436,
 33.99492543789436,
 39.622630955783954,
 39.85610143036805,
 39.85610143036805,
 34.291411369519516,
 37.85289839675557,
 39.54037407434003,
 33.99492543789436,
 34.291411369519516,
 39.85610143036805,
 34.420002531645075,
 33.52636482551121,
 39.152247747842125,
 30.14130545332009,
 33.056605555788906,
 33.99492543789436,
 34.833081388779036,
 39.54037407434003,
 39.27679990720862,
 39.27679990720862,
 38.76204927103813,
 39.85610143036805,
 39.54037407434003,
 35.6885856522758,
 38.76204927103813,
 37.08920446272074,
 39.152247747842125,
 39.85610143036805,
 33.99492543789436,
 39.27679990720862,
 38.187120676724234,
 33.056605555788906,
 37.85289839675557,
 31.116900216222707,
 34.420002531645075,
 37.85289839675557,
 34.420002531645075,
 33.99492543789436,
 39.622630955783954,
 39.152247747842125,
 39.85610143036805,
 39.85610143036805,
 39.85610143036805,
 39.152247747842125,
 39.85610143036805,
 37.85289839675557,
 39.54037407434003,
 39.152247747842125,
 33.056605555788906,
 39.152247747842125,
 39.27679990720862,
 39.622630955783954,
 32.10886729921706,
 39.27679990720862,
 39.622630955783954,
 39.622630955783954,
 39.54037407434003,
 39.152247747842125,
 32.10886729921706,
 33.99492543789436,
 39.152247747842125,
 39.152247747842125,
 39.54037407434003,
 39.152247747842125,
 38.76204927103813,
 39.85610143036805,
 39.27679990720862,
 39.85610143036805,
 39.27679990720862,
 37.63326982327443,
 39.54037407434003,
 39.152247747842125,
 39.27679990720862,
 39.85610143036805,
 39.85610143036805,
 39.27679990720862,
 30.62750244439336,
 31.617482736153743,
 32.58008098179338,
 39.152247747842125,
 39.152247747842125,
 39.152247747842125,
 39.85610143036805,
 39.152247747842125,
 29.662913583766844,
 33.99492543789436,
 39.85610143036805,
 39.152247747842125,
 39.152247747842125,
 39.85610143036805,
 35.6885856522758,
 37.63326982327443,
 39.85610143036805,
 34.291411369519516,
 37.85289839675557,
 32.10886729921706,
 32.10886729921706,
 35.24929476765318,
 35.24929476765318,
 35.6885856522758,
 35.6885856522758,
 39.152247747842125,
 39.152247747842125,
 39.152247747842125,
 33.52636482551121,
 39.27679990720862,
 34.833081388779036,
 39.152247747842125,
 35.6885856522758,
 34.291411369519516,
 39.152247747842125,
 34.291411369519516,
 31.116900216222707,
 35.6885856522758,
 39.152247747842125,
 39.54037407434003,
 39.152247747842125,
 35.6885856522758,
 37.63326982327443,
 39.152247747842125,
 39.27679990720862,
 39.27679990720862,
 39.85610143036805,
 39.622630955783954,
 39.85610143036805,
 33.99492543789436,
 33.99492543789436,
 34.291411369519516,
 33.52636482551121,
 39.152247747842125,
 32.58008098179338,
 39.152247747842125,
 39.85610143036805,
 39.85610143036805,
 39.622630955783954,
 39.27679990720862,
 39.85610143036805,
 39.85610143036805,
 37.85289839675557,
 37.85289839675557,
 35.6885856522758,
 37.85289839675557,
 39.622630955783954,
 39.152247747842125,
 34.291411369519516,
 39.152247747842125,
 34.291411369519516,
 39.54037407434003,
 32.58008098179338,
 39.85610143036805,
 39.622630955783954,
 39.54037407434003,
 38.76204927103813,
 39.152247747842125,
 39.152247747842125,
 38.76204927103813,
 39.152247747842125,
 39.152247747842125,
 39.27679990720862,
 39.27679990720862,
 39.27679990720862,
 36.1466025557833,
 39.622630955783954,
 34.291411369519516,
 34.291411369519516,
 39.152247747842125,
 33.056605555788906,
 36.12343239123958,
 38.76204927103813,
 39.54037407434003,
 38.187120676724234,
 37.63326982327443,
 39.27679990720862,
 31.617482736153743,
 39.152247747842125,
 39.152247747842125,
 33.52636482551121,
 32.58008098179338,
 37.85289839675557,
 39.27679990720862,
 39.85610143036805,
 34.291411369519516,
 39.152247747842125,
 39.54037407434003,
 34.291411369519516,
 39.85610143036805,
 37.85289839675557,
 39.152247747842125,
 36.1466025557833,
 39.27679990720862,
 39.622630955783954,
 39.152247747842125,
 34.420002531645075,
 39.85610143036805,
 37.85289839675557,
 37.85289839675557,
 37.08920446272074,
 37.85289839675557,
 39.622630955783954,
 37.85289839675557,
 39.152247747842125,
 34.291411369519516,
 39.152247747842125,
 37.85289839675557,
 29.662913583766844,
 39.152247747842125,
 39.622630955783954,
 39.622630955783954,
 39.27679990720862,
 39.622630955783954,
 38.76204927103813,
 39.85610143036805,
 39.85610143036805,
 38.187120676724234,
 39.152247747842125,
 39.85610143036805,
 39.152247747842125,
 39.85610143036805,
 39.152247747842125,
 30.14130545332009,
 39.152247747842125,
 37.85289839675557,
 37.85289839675557,
 34.291411369519516,
 39.152247747842125,
 39.152247747842125,
 39.85610143036805,
 38.187120676724234,
 39.152247747842125,
 39.152247747842125,
 34.291411369519516,
 38.187120676724234,
 38.76204927103813,
 27.83114548624032,
 39.27679990720862,
 36.12343239123958,
 39.85610143036805,
 35.6885856522758,
 37.63326982327443,
 38.187120676724234,
 39.622630955783954,
 39.622630955783954,
 39.54037407434003,
 39.85610143036805,
 34.291411369519516,
 34.291411369519516,
 39.622630955783954,
 34.291411369519516,
 39.85610143036805,
 34.291411369519516,
 39.85610143036805,
 39.85610143036805,
 39.85610143036805,
 27.398188680793655,
 39.85610143036805,
 39.85610143036805,
 39.152247747842125,
 39.152247747842125,
 34.291411369519516,
 25.028968931269223,
 34.833081388779036,
 33.99492543789436,
 39.152247747842125,
 39.85610143036805,
 39.622630955783954,
 39.152247747842125,
 39.152247747842125,
 39.54037407434003,
 34.291411369519516,
 32.10886729921706,
 34.420002531645075,
 39.152247747842125,
 36.59019408024865,
 39.152247747842125,
 26.976646059184464,
 37.08920446272074,
 31.116900216222707,
 37.85289839675557,
 37.85289839675557,
 35.6885856522758,
 32.10886729921706,
 39.85610143036805,
 36.59019408024865,
 33.056605555788906,
 34.291411369519516,
 39.85610143036805,
 39.152247747842125,
 39.152247747842125,
 39.54037407434003,
 37.85289839675557,
 34.833081388779036,
 39.152247747842125,
 39.622630955783954,
 38.187120676724234,
 39.27679990720862,
 31.617482736153743,
 39.85610143036805,
 30.62750244439336,
 39.622630955783954,
 39.622630955783954,
 33.52636482551121,
 39.152247747842125,
 36.59019408024865,
 39.85610143036805,
 34.420002531645075,
 34.420002531645075,
 39.85610143036805,
 33.99492543789436,
 39.152247747842125,
 39.622630955783954,
 30.62750244439336,
 35.24929476765318,
 39.54037407434003,
 34.291411369519516,
 39.622630955783954,
 39.152247747842125,
 37.85289839675557,
 37.85289839675557,
 39.27679990720862,
 34.291411369519516,
 39.85610143036805,
 33.99492543789436,
 37.85289839675557,
 39.152247747842125,
 39.85610143036805,
 39.152247747842125,
 39.152247747842125,
 28.27451308892378,
 36.12343239123958,
 34.291411369519516,
 39.152247747842125,
 31.116900216222707,
 31.116900216222707,
 27.398188680793655,
 39.622630955783954,
 39.85610143036805,
 39.622630955783954,
 39.152247747842125,
 30.14130545332009,
 38.187120676724234,
 39.152247747842125,
 39.85610143036805,
 38.76204927103813,
 34.291411369519516,
 39.152247747842125,
 37.85289839675557,
 39.152247747842125,
 39.27679990720862,
 34.833081388779036,
 39.152247747842125,
 39.27679990720862,
 39.152247747842125,
 36.12343239123958,
 26.56489717711187,
 39.152247747842125,
 39.85610143036805,
 39.85610143036805,
 39.85610143036805,
 37.85289839675557,
 34.420002531645075,
 37.85289839675557,
 39.152247747842125,
 39.152247747842125,
 39.54037407434003,
 39.85610143036805,
 39.85610143036805,
 33.056605555788906,
 39.152247747842125,
 34.291411369519516,
 28.729130889902027,
 28.729130889902027,
 35.6885856522758,
 34.420002531645075,
 39.152247747842125,
 39.622630955783954,
 34.833081388779036,
 39.85610143036805,
 39.54037407434003,
 39.622630955783954,
 28.729130889902027,
 39.152247747842125,
 39.152247747842125,
 39.622630955783954,
 38.187120676724234,
 39.27679990720862,
 39.27679990720862,
 33.99492543789436,
 39.622630955783954,
 39.152247747842125,
 39.27679990720862,
 39.27679990720862,
 36.59019408024865,
 39.152247747842125,
 39.152247747842125,
 39.85610143036805,
 39.152247747842125,
 39.85610143036805,
 33.056605555788906,
 39.152247747842125,
 39.152247747842125,
 32.10886729921706,
 39.85610143036805,
 39.85610143036805,
 39.85610143036805,
 39.152247747842125,
 39.622630955783954,
 39.622630955783954,
 37.85289839675557,
 39.85610143036805,
 39.27679990720862,
 38.187120676724234,
 39.152247747842125,
 39.85610143036805,
 39.152247747842125,
 36.12343239123958,
 39.27679990720862,
 33.99492543789436,
 39.152247747842125,
 37.85289839675557,
 39.85610143036805,
 39.622630955783954,
 38.76204927103813,
 39.54037407434003,
 39.622630955783954,
 39.85610143036805,
 39.85610143036805,
 34.291411369519516,
 39.152247747842125,
 39.152247747842125,
 39.27679990720862,
 39.152247747842125,
 33.056605555788906,
 39.152247747842125,
 34.420002531645075,
 32.10886729921706,
 39.85610143036805,
 39.85610143036805,
 38.76204927103813,
 39.152247747842125,
 39.152247747842125,
 30.14130545332009,
 38.76204927103813,
 39.54037407434003,
 39.54037407434003,
 39.27679990720862,
 39.152247747842125,
 39.152247747842125,
 34.291411369519516,
 39.152247747842125,
 37.85289839675557,
 39.27679990720862,
 39.152247747842125,
 39.85610143036805,
 39.85610143036805,
 39.85610143036805,
 39.152247747842125,
 38.187120676724234,
 37.85289839675557,
 37.85289839675557,
 36.1466025557833,
 34.291411369519516,
 37.63326982327443,
 34.291411369519516,
 39.85610143036805,
 39.152247747842125,
 34.291411369519516,
 33.99492543789436,
 37.85289839675557,
 39.85610143036805,
 39.622630955783954,
 39.27679990720862,
 39.85610143036805,
 37.63326982327443,
 34.833081388779036,
 33.99492543789436,
 37.85289839675557,
 39.152247747842125,
 32.10886729921706,
 39.85610143036805,
 36.12343239123958,
 39.622630955783954,
 39.622630955783954,
 37.63326982327443,
 39.622630955783954,
 34.833081388779036,
 39.27679990720862,
 39.54037407434003,
 34.291411369519516,
 30.62750244439336,
 39.152247747842125,
 39.152247747842125,
 39.85610143036805,
 31.617482736153743,
 39.152247747842125,
 34.420002531645075,
 39.54037407434003,
 39.85610143036805,
 39.85610143036805,
 38.187120676724234,
 39.152247747842125,
 39.152247747842125,
 37.85289839675557,
 39.27679990720862,
 39.85610143036805,
 39.27679990720862,
 37.85289839675557,
 38.76204927103813,
 22.419517473459706,
 39.85610143036805,
 39.622630955783954,
 39.622630955783954,
 39.27679990720862,
 33.99492543789436,
 38.76204927103813,
 39.27679990720862,
 39.27679990720862,
 33.99492543789436,
 39.152247747842125,
 34.291411369519516,
 34.291411369519516,
 28.27451308892378,
 28.27451308892378,
 38.187120676724234,
 39.85610143036805,
 39.152247747842125,
 39.27679990720862,
 35.6885856522758,
 39.622630955783954,
 39.622630955783954,
 39.622630955783954,
 39.622630955783954,
 35.6885856522758,
 34.833081388779036,
 39.152247747842125,
 32.10886729921706,
 38.187120676724234,
 39.152247747842125,
 39.85610143036805,
 37.85289839675557,
 30.62750244439336,
 33.056605555788906,
 39.27679990720862,
 33.056605555788906,
 39.85610143036805,
 39.85610143036805,
 39.85610143036805,
 33.056605555788906,
 39.152247747842125,
 39.85610143036805,
 30.62750244439336,
 30.62750244439336,
 30.62750244439336,
 39.27679990720862,
 33.056605555788906,
 39.54037407434003,
 33.99492543789436,
 39.152247747842125,
 39.27679990720862,
 33.52636482551121,
 39.152247747842125,
 39.622630955783954,
 28.729130889902027,
 38.187120676724234,
 33.99492543789436,
 33.99492543789436,
 33.99492543789436,
 39.152247747842125,
 34.420002531645075,
 39.152247747842125,
 38.76204927103813,
 39.152247747842125,
 38.76204927103813,
 29.194073568337735,
 35.24929476765318,
 35.24929476765318,
 39.27679990720862,
 39.85610143036805,
 37.85289839675557,
 39.152247747842125,
 38.76204927103813,
 39.152247747842125,
 39.152247747842125,
 39.152247747842125,
 39.85610143036805,
 39.27679990720862,
 39.622630955783954,
 39.27679990720862,
 39.85610143036805,
 32.58008098179338,
 37.85289839675557,
 37.85289839675557,
 39.85610143036805,
 39.152247747842125,
 29.194073568337735,
 37.63326982327443,
 39.622630955783954,
 39.27679990720862,
 39.27679990720862,
 39.27679990720862,
 32.10886729921706,
 39.622630955783954,
 39.85610143036805,
 33.056605555788906,
 33.056605555788906,
 33.99492543789436,
 37.85289839675557,
 39.152247747842125,
 39.622630955783954,
 39.85610143036805,
 38.76204927103813,
 38.76204927103813,
 39.85610143036805,
 39.152247747842125,
 38.187120676724234,
 37.63326982327443,
 39.622630955783954,
 39.622630955783954,
 39.85610143036805,
 37.63326982327443,
 37.08920446272074,
 37.08920446272074,
 33.99492543789436,
 39.85610143036805,
 38.76204927103813,
 32.10886729921706,
 39.27679990720862,
 39.54037407434003,
 36.12343239123958,
 39.54037407434003,
 39.85610143036805,
 39.152247747842125,
 39.152247747842125,
 39.152247747842125,
 34.291411369519516,
 39.622630955783954,
 28.27451308892378,
 32.58008098179338,
 34.291411369519516,
 34.291411369519516,
 39.27679990720862,
 39.85610143036805,
 39.152247747842125,
 39.622630955783954,
 39.622630955783954,
 31.617482736153743,
 39.85610143036805,
 34.291411369519516,
 39.27679990720862,
 39.85610143036805,
 34.833081388779036,
 39.622630955783954,

In [106]:
index_min3 = np.argmin(mse3)
index_min3

188

In [110]:
medium_solution = df_correct.iloc[index_min3]
medium_solution

index                                                       3278861
step_id                                                       15944
status                                                            2
client                                                          web
uid_anon                                                      34975
id_anon                                                    19055662
reply             {"language": "python3", "code": "# put your co...
feedback          {"message": "", "code_style": {"quality": {"co...
solution_label                                              Correct
code              # put your code here\r\nsome_int = input().str...
code_clean        [some_int, =, input, (, ), .strip, (, ), oppos...
vector            [177, 54, 66, 44, 45, 178, 44, 45, 179, 54, 71...
Name: 188, dtype: object

In [50]:
import difflib

def count_diff(s1, s2):
    d = {'before':[], 'after': []}
    seq_matcher = difflib.SequenceMatcher(None, s1, s2)
    for tag, i1, i2, j1, j2 in seq_matcher.get_opcodes():
        if (tag !='equal'):
            d['before'].append(s1[i1:i2])
            d['after'].append(s2[j1:j2])
    return d

res = []
for user in users:
    df_t = df_test[df_test['uid_anon'] == user]
    correct = df_t[(df_t['solution_label'] == 'Correct') | (df_t['solution_label'] == 'Style') | 
                   (df_t['solution_label'] == 'Correct, unknown style')].head(1)
    
    error = df_t[(df_t['solution_label'] != 'Correct') & (df_t['solution_label'] != 'Style') & 
                   (df_t['solution_label'] != 'Correct, unknown style')].head(1)
    if not correct.empty and not error.empty:
        result = error.apply(lambda x: count_diff(x['vector'], correct['vector'].values[0]), axis=1)
        res.append(result.values[0])

In [45]:
df_res = pd.DataFrame(res)
df_res

,before,after
0,"[[5, 64, 53, 67, 51, 68, 44, 64, 45, 3, 51]]",[[]]
1,"[[71, 48, 72, 73, 70]]",[[74]]
2,"[[75, 47], [76, 46], [], []]","[[81], [], [44], [45]]"
3,"[[84], [], [], [84]]","[[79], [65, 44], [45], [79]]"
4,"[[], [82], [], []]","[[82, 54, 65, 44, 66, 44, 45, 45], [44, 83, 45..."
...,...,...
666,"[[53], [85], [119, 120, 47, 90, 44, 85], [45]]","[[55], [101], [101], []]"
667,[[]],"[[44, 45]]"
668,"[[5, 79, 55, 67, 51], [30], [], [3, 51, 68, 44...","[[], [], [46, 44, 69], []]"
669,"[[64, 54], [], [5, 64, 55, 67, 51, 68, 44, 89]...","[[68, 44, 48, 44], [44], [], [], [45]]"
670,"[[53], [91]]","[[55, 54], [69]]"

In [46]:
df_res['before']

0           [[5, 64, 53, 67, 51, 68, 44, 64, 45, 3, 51]]
1                                 [[71, 48, 72, 73, 70]]
2                           [[75, 47], [76, 46], [], []]
3                                   [[84], [], [], [84]]
4                                     [[], [82], [], []]
                             ...
666       [[53], [85], [119, 120, 47, 90, 44, 85], [45]]
667                                                 [[]]
668    [[5, 79, 55, 67, 51], [30], [], [3, 51, 68, 44...
669    [[64, 54], [], [5, 64, 55, 67, 51, 68, 44, 89]...
670                                         [[53], [91]]
Name: before, Length: 671, dtype: object

In [41]:
inv_dict = {v: k for k, v in dict_token.items()}
inv_dict

{0: 'False',
 1: 'True',
 2: 'await',
 3: 'else',
 4: 'elif',
 5: 'if',
 6: 'import',
 7: 'pass',
 8: 'None',
 9: 'break',
 10: 'except',
 11: 'in',
 12: 'raise',
 13: 'class',
 14: 'finally',
 15: 'is',
 16: 'return',
 17: 'and',
 18: 'continue',
 19: 'for',
 20: 'lambda',
 21: 'try',
 22: 'as',
 23: 'def',
 24: 'from',
 25: 'nonlocal',
 26: 'while',
 27: 'assert',
 28: 'del',
 29: 'global',
 30: 'not',
 31: 'with',
 32: 'async',
 33: 'or',
 34: 'yield',
 35: '!',
 36: '?',
 37: '_',
 38: '“',
 39: '#',
 40: '$',
 41: '%',
 42: '&',
 43: '‘',
 44: '(',
 45: ')',
 46: '*',
 47: '+',
 48: '-',
 49: '.',
 50: '/',
 51: ':',
 52: ';',
 53: '<',
 54: '=',
 55: '>',
 56: '@',
 57: '\\',
 58: '[',
 59: ']',
 60: '{',
 61: '}',
 62: '|',
 63: '~',
 64: 'a',
 65: 'int',
 66: 'input',
 67: '0',
 68: 'print',
 69: '-1',
 70: 'A',
 71: '``',
 72: "''",
 73: ',',
 74: '-A',
 75: 'integ',
 76: '2',
 77: '-integ',
 78: '-0',
 79: 'num',
 80: '-num',
 81: 'abs',
 82: 'x',
 83: '-x',
 84: 'usr',
 85: 'number',
 86: 'n',
 87: '-n',
 88: 'f',
 89: '-a',
 90: 'str',
 91: '1',
 92: '-int',
 93: 'nummer',
 94: 'val',
 95: 'valor',
 96: 'readLine',
 97: '.toInt',
 98: 'println',
 99: 'var',
 100: 'res',
 101: '-number',
 102: 'input_number',
 103: '-readLine',
 104: 'printf',
 105: 'flip',
 106: 'b',
 107: 'c',
 108: 'i',
 109: 'integer',
 110: 'Convert',
 111: 'private',
 112: 'function',
 113: 'opposite',
 114: 'Number',
 115: 'Math.abs',
 116: 'mod.num',
 117: 'num_2',
 118: '-abs',
 119: "'-",
 120: "'",
 121: 'pos',
 122: "'+'",
 123: 'neg',
 124: "'-'",
 125: 'char',
 126: '==',
 127: "'+",
 128: 'math',
 129: 'math.fabs',
 130: '.isdigit',
 131: 'value',
 132: 'pritn',
 133: 'int_',
 134: '0-i',
 135: 'nombre',
 136: '-nombre',
 137: '567',
 138: 'num_1',
 139: '-integer',
 140: 'answer',
 141: 'factor',
 142: 'negative',
 143: 'positive',
 144: '.function',
 145: '+number',
 146: 'oppositeSigns',
 147: 'y',
 148: 'lst',
 149: '-i',
 150: 'Convert.join',
 151: '.join',
 152: 'new',
 153: 'integer_',
 154: 'foo',
 155: '-foo',
 156: 'input_',
 157: 'cmd',
 158: 'result',
 159: 'my_num',
 160: '-=',
 161: "'.format",
 162: 'negative_num',
 163: '-num.math.abs',
 164: '.math.abs',
 165: '-math.abs',
 166: 'a1',
 167: 'a_1',
 168: 'min',
 169: 'opp_num',
 170: 'minus',
 171: 'new_num',
 172: '3',
 173: '+1',
 174: 'i+',
 175: '+i',
 176: 'i-',
 177: 'some_int',
 178: '.strip',
 179: 'opposite_sign_neg',
 180: 'opposite_sign_pos',
 181: 'new_int',
 182: 'to_read',
 183: '-to_read',
 184: 'num_out',
 185: 'leb',
 186: 'np',
 187: 'o_np',
 188: 'eval',
 189: 'user_input',
 190: 'input.strip',
 191: '+str',
 192: 'a.strip',
 193: 'inp',
 194: 'sep=',
 195: 'nbr',
 196: "f'-",
 197: 'x-x-x',
 198: 'zahl',
 199: 'a=int',
 200: '=0',
 201: 'number=int',
 202: 'num_input',
 203: 'negate',
 204: 'z',
 205: '|z|',
 206: 'x-',
 207: "'-'integer",
 208: 'digit',
 209: 'possitive_input',
 210: '-possitive_input',
 211: 'positive_input',
 212: 'integer_num',
 213: '-integer_num',
 214: 'string',
 215: 'entry',
 216: 'usr_num',
 217: 'ur_num',
 218: 'opposign',
 219: 'enter_int',
 220: '|a|',
 221: '-user_input',
 222: 'opp_sign',
 223: '2x',
 224: 's1',
 225: 's2',
 226: 's1.lstrip',
 227: 'a=-a',
 228: 'string.lstrip',
 229: 'x=int',
 230: 'user',
 231: 'a.lstrip',
 232: 'baha',
 233: '565',
 234: 'n=int',
 235: 'numb',
 236: 'm',
 237: '+m',
 238: '-m',
 239: 'obs',
 240: 'ob',
 241: 'su',
 242: 'ad',
 243: 'sub',
 244: 'a_number',
 245: '-a_number',
 246: 'newval',
 247: "'-num",
 248: 'inout',
 249: 'pos_integer',
 250: 'XD',
 251: 'python',
 252: 'py',
 253: '//',
 254: 'go',
 255: 'fuck',
 256: 'yourself',
 257: 'op_num',
 258: 'final_output',
 259: 'final_out',
 260: 'input_num',
 261: '0-int',
 262: 'intput',
 263: 'd',
 264: 'regular',
 265: 'i1',
 266: '+=',
 267: 'value_1=int',
 268: '+value_1',
 269: 'value_1',
 270: '.format',
 271: '-value_1',
 272: 'numner',
 273: 'simmetry',
 274: '+int',
 275: '_in',
 276: '-567',
 277: 'user_integer',
 278: 'new_number',
 279: '-2',
 280: 'number_1',
 281: 'number_2',
 282: '-number_1',
 283: '+integer',
 284: '=int',
 285: 'a.split',
 286: 'list',
 287: 'number_to_inverse',
 288: 'num=int',
 289: 'ValueError',
 290: 'Not',
 291: 'nr',
 292: '-nr',
 293: 'no',
 294: '12',
 295: 'digital',
 296: 'intiger',
 297: '2a',
 298: 'b=-a',
 299: 'b=-',
 300: 'number2',
 301: 'neg_value',
 302: '-value',
 303: 'minus_integer',
 304: 'minus_number',
 305: 'out_put',
 306: 'my_integer',
 307: 'number_one',
 308: 'number_two',
 309: '-3',
 310: 'xyz',
 311: '-xyz',
 312: '.replace',
 313: 'capacity',
 314: '-capacity',
 315: 'enter',
 316: 'an',
 317: 'x=-x',
 318: 'user_number',
 319: '-user_number',
 320: 'Zahl',
 321: 'sample',
 322: '0-number',
 323: 'print-',
 324: '1134',
 325: '.fotmat',
 326: 'sys',
 327: 'args',
 328: 'sys.argv',
 329: 'new_value',
 330: "'-'+",
 331: 'first',
 332: 'second',
 333: 's',
 334: '-s',
 335: "'-s",
 336: "'s",
 337: 'opposite_sign_assignment',
 338: 'x=x',
 339: 'input1',
 340: 'is_even',
 341: 'float',
 342: 'to_opposite',
 343: '-to_opposite',
 344: 'userNum',
 345: 'user_Num',
 346: 'user_num',
 347: 'copysign',
 348: 'input_integer',
 349: 'x=input',
 350: 'number=',
 351: 'a/-1',
 352: 'my_value',
 353: 'A=',
 354: 'B=',
 355: '0-A',
 356: 'B',
 357: '+input',
 358: '+x',
 359: '-565',
 360: 'meow',
 361: '-meow',
 362: 'kiss',
 363: 'newnum',
 364: '==0',
 365: 'zmienna',
 366: 'n_number',
 367: 'my_int',
 368: '+num',
 369: '-my_integer',
 370: 'sample_input',
 371: '-sample_input',
 372: '+a',
 373: '0-n',
 374: 'number-',
 375: 'transform',
 376: 'Enter',
 377: 'negative_number',
 378: 'given_num',
 379: 'opposite_num',
 380: "'-'+str",
 381: 'integer_number',
 382: '+value',
 383: "f'-value",
 384: 'value_x',
 385: 'h',
 386: '-h',
 387: 'opposite_sign',
 388: 'unput',
 389: 'liczba',
 390: 'read',
 391: 'users_integer',
 392: '-users_integer',
 393: 'out',
 394: '-user',
 395: '600',
 396: 'reversed',
 397: 'pos_neg_value',
 398: 'negate_multiplier',
 399: 'NEGATE_MULTIPLER',
 400: 'NEGATE_MULTIPLiER',
 401: 'NEGATE_MULTIPLIER',
 402: 'negative_one',
 403: 'inut',
 404: 'inverse_sign',
 405: 'in_',
 406: 'op',
 407: '-in',
 408: '-in_',
 409: 'numm=int',
 410: 'Put',
 411: 'your',
 412: '-numm',
 413: 'int_num',
 414: 'Dime',
 415: 'un',
 416: 'número',
 417: 'p',
 418: 'isinstance',
 419: '0-a',
 420: 'first_num',
 421: 'lol',
 422: 'here',
 423: 'lol_neg',
 424: '-num_1',
 425: 'age',
 426: 'Give',
 427: 'x=',
 428: 'x.isoppositsign',
 429: "'-a",
 430: "'Enter",
 431: 'number_min',
 432: 'inuput',
 433: 'int_number',
 434: '-int_number',
 435: 'integer_1',
 436: 'abnormal',
 437: 'power_1',
 438: 'label',
 439: 'Reverse',
 440: 'Reminder',
 441: '10',
 442: '//10',
 443: '\\n',
 444: 'of',
 445: 'entered',
 446: 'origin',
 447: 'Sample',
 448: 'Input',
 449: "'Samole",
 450: 'Output',
 451: '4',
 452: '5',
 453: 'num=str',
 454: 'num=num',
 455: 'variable_',
 456: 'func',
 457: 'a=input',
 458: '·Enter',
 459: 'entrada_1',
 460: 'ip',
 461: '-ip',
 462: '-integer_number',
 463: 'year',
 464: '100',
 465: '400',
 466: 'Leap',
 467: 'Ordinary',
 468: '_input',
 469: '_output',
 470: 'nn',
 471: 'n_new',
 472: ':1',
 473: '-var',
 474: 'numar',
 475: 'aux',
 476: 'Please',
 477: 'provide',
 478: 'integer=567',
 479: 'printOpposite',
 480: 'any',
 481: 'the',
 482: 'valid',
 483: 'sign',
 484: 'pos_to_neg',
 485: 'test',
 486: 'int_a',
 487: 'integer_to_negate',
 488: '-integer_to_negate',
 489: '-read',
 490: 'num1',
 491: 'arg',
 492: '-arg',
 493: 'number_input',
 494: 'num_02',
 495: '-+a+',
 496: 'in_data',
 497: '-input',
 498: '-in_data',
 499: 'num/-1',
 500: 'int_input',
 501: '-int_input',
 502: '=-',
 503: 'dig',
 504: 'n.replace',
 505: 'n.startswith',
 506: 'a.pop',
 507: 'number1',
 508: 'lodwr',
 509: 'iput',
 510: 'math.copysign',
 511: '-0.0',
 512: 'num2',
 513: '-inp',
 514: 'input_one',
 515: '-input_num',
 516: "+'integer",
 517: "'integer",
 518: '+float',
 519: '+abs',
 520: 'thing',
 521: 'get_rid_of_minus',
 522: 'counter',
 523: 'len',
 524: 'convert_number',
 525: 'zero',
 526: '0-x',
 527: 'num_neg',
 528: 'plus_number',
 529: 'int1',
 530: '-int1',
 531: 'ints1',
 532: '-ints1',
 533: 'isnts1',
 534: '-isnts1',
 535: 'abra',
 536: '-abra',
 537: 'end',
 538: 'intger',
 539: 'converter',
 540: 'input_int',
 541: '+digit',
 542: 'number.lstrip',
 543: 'type',
 544: '===',
 545: 'data',
 546: 'abs.number',
 547: 'opp_n',
 548: 'usr_input',
 549: '-usr_input',
 550: 'num.startswith',
 551: 'num.replace',
 552: 'a=',
 553: 'magic_number',
 554: 'conver_number',
 555: 'inputs',
 556: 'cheat',
 557: '1.0',
 558: 'opp_int',
 559: '-opp_int',
 560: 'integer_as_input',
 561: 'unary_minus_conversion',
 562: 'int_one',
 563: '-int_one',
 564: 'input_1',
 565: 'user_entry',
 566: 'numero',
 567: '0-num',
 568: 'round',
 569: '-1,0',
 570: 'int_inp',
 571: '-int_inp',
 572: 'esle',
 573: '_integer',
 574: 'neg_integer',
 575: 'lst.remove',
 576: 'sinal',
 577: 'Um',
 578: 'make_opposite_sign',
 579: '-input_number',
 580: 'output_number',
 581: "'-'+a",
 582: "'-'+input",
 583: 'int_additive_inverse',
 584: 'main',
 585: 'user_entered_number',
 586: '__name__',
 587: '__main__',
 588: 'q',
 589: 'formula',
 590: "'-'in",
 591: '-b',
 592: '-num1',
 593: '^',
 594: 'Signs',
 595: 'are',
 596: 'opposit',
 597: 'X',
 598: 'absX',
 599: "'The",
 600: 'absolute',
 601: "'+str",
 602: 'Opposite_sign',
 603: 'possitive',
 604: 'go_str',
 605: 'so_str',
 606: 'into_str',
 607: 'opp',
 608: 'output',
 609: 'let',
 610: 'console.log',
 611: 'alert',
 612: 'const',
 613: 'k',
 614: 'oppose',
 615: 'ab',
 616: 'prin',
 617: 'current_number',
 618: '-current_number',
 619: 'print_opp',
 620: 'covert',
 621: 'remove_mark',
 622: 'inverse',
 623: '-number_input',
 624: 'integer_2',
 625: 'integer=int',
 626: "'/",
 627: "'\\r-",
 628: "'\\r+",
 629: '-input1',
 630: '-input_1',
 631: 'nega_n',
 632: 'posi_n',
 633: 'mjau',
 634: "'-'+int",
 635: "'-'.join",
 636: 'reversible_num',
 637: "f'+",
 638: 'inp_int',
 639: 'int_1',
 640: '-int_1',
 641: '+a+',
 642: 'N',
 643: 'sample_number',
 644: 'nagative',
 645: 'verse',
 646: 'oppsite',
 647: '-sample',
 648: 'integers',
 649: 'negged_int',
 650: 'zero_num',
 651: 'zer_num',
 652: 'double',
 653: 'random',
 654: 'given_number',
 655: 'cond',
 656: 'a/',
 657: 'bloop',
 658: 'That',
 659: 'buddy',
 660: "'-'+number+",
 661: 'si',
 662: 'num-',
 663: 'innumber',
 664: 'а',
 665: 'inter',
 666: 'numer',
 667: '~num',
 668: 'result=num'}

In [47]:
from collections import defaultdict 
dict_token = defaultdict(int)

for l in df_res['before']: 
    for change in l:
        for t in change:
            dict_token[inv_dict[t]]+=1 
for l in df_res['after']:
    for change in l:
        for t in change:
            dict_token[inv_dict[t]]+=1 
dict_token

defaultdict(int,
            {'if': 206,
             'a': 244,
             '<': 61,
             '0': 245,
             ':': 357,
             'print': 292,
             '(': 816,
             ')': 741,
             'else': 191,
             '``': 149,
             '-': 236,
             "''": 184,
             ',': 72,
             'A': 3,
             'integ': 1,
             '+': 128,
             '2': 46,
             '*': 299,
             'usr': 2,
             'x': 113,
             '>': 184,
             'number': 190,
             '-int': 22,
             'val': 3,
             'readLine': 1,
             '!': 20,
             '.toInt': 2,
             'println': 2,
             'str': 50,
             '-readLine': 1,
             'flip': 3,
             'num': 166,
             '=': 253,
             ';': 3,
             'mod.num': 1,
             'num_2': 3,
             'int': 190,
             "'-": 48,
             "'": 66,
             'pritn': 1,
             'input': 78,
             'is': 4,
             'not': 15,
             '567': 8,
             'n': 69,
             'value': 14,
             'def': 7,
             'oppositeSigns': 2,
             'return': 12,
             'y': 9,
             '==': 30,
             'True': 2,
             'False': 2,
             'integer': 43,
             'f': 22,
             '{': 32,
             '}': 32,
             'negative_num': 2,
             '-1': 253,
             '3': 1,
             '+1': 1,
             'i+': 1,
             'i': 13,
             'abs': 73,
             'to_read': 2,
             'o_np': 2,
             'opposite': 4,
             'input.strip': 1,
             'sep=': 2,
             '-i': 6,
             '1': 26,
             'negate': 4,
             "'-'integer": 1,
             'ur_num': 1,
             '|a|': 1,
             '-=': 3,
             '-x': 19,
             '-number': 27,
             '-num': 40,
             '[': 20,
             ']': 21,
             '-a': 42,
             'a.lstrip': 1,
             '+number': 3,
             'answer': 2,
             'obs': 1,
             'inout': 1,
             'pos_integer': 2,
             '=0': 2,
             'python': 2,
             'go': 1,
             'fuck': 1,
             'yourself': 1,
             'intput': 2,
             '+value_1': 1,
             'numner': 1,
             '+int': 2,
             'num_1': 6,
             '-567': 4,
             '&': 1,
             "'+": 4,
             'neg_value': 2,
             'minus_number': 1,
             '-integer': 6,
             'elif': 15,
             'xyz': 1,
             'nummer': 4,
             'enter': 1,
             'an': 1,
             'Zahl': 2,
             'b': 30,
             'print-': 1,
             '.fotmat': 1,
             '-abs': 11,
             'import': 4,
             'sys': 1,
             'args': 2,
             'sys.argv': 1,
             "'-'+": 3,
             'user_number': 5,
             'opposite_sign_assignment': 1,
             'float': 1,
             'x=input': 1,
             'my_value': 1,
             '+input': 1,
             '-meow': 1,
             'meow': 2,
             'result': 9,
             'char': 1,
             '+num': 2,
             "'.format": 1,
             '+a': 5,
             'Enter': 2,
             'unput': 1,
             'read': 1,
             'negate_multiplier': 2,
             'pos_neg_value': 2,
             'inut': 1,
             '-in': 1,
             'minus': 4,
             'isinstance': 1,
             '-n': 12,
             'x=': 1,
             'x.isoppositsign': 1,
             "'-a": 1,
             "'Enter": 1,
             'number_min': 2,
             '.format': 2,
             'integer_1': 3,
             'num=str': 1,
             'year': 4,
             '%': 4,
             '4': 1,
             'and': 1,
             '100': 1,
             'or': 4,
             '400': 1,
             'Leap': 1,
             'Ordinary': 1,
             'numar': 1,
             'eval': 1,
             '+str': 2,
             'Input': 1,
             'the': 1,
             'valid': 1,
             'Number': 3,
             'with': 1,
             'sign': 1,
             "f'-": 6,
             '-+a+': 1,
             '-input': 2,
             'z': 4,
             'dig': 2,
             'a.pop': 1,
             'iput': 1,
             'math.copysign': 1,
             '-0.0': 1,
             'get_rid_of_minus': 2,
             'user_input': 17,
             'counter': 4,
             'while': 2,
             'len': 1,
             'try': 1,
             '+=': 3,
             'except': 1,
             '0-a': 3,
             'intger': 1,
             'pass': 1,
             'global': 2,
             'conver_number': 1,
             'int1': 4,
             'in': 5,
             '/': 4,
             'esle': 1,
             'user': 2,
             'Um': 1,
             'valor': 1,
             'number=int': 2,
             'go_str': 1,
             'so_str': 1,
             "'-'+str": 3,
             'k': 2,
             'ab': 1,
             'prin': 1,
             'current_number': 1,
             '0-x': 1,
             '0-number': 3,
             '-num_1': 1,
             "'-'+input": 1,
             '+x': 2,
             '+a+': 1,
             'zer_num': 1,
             "'-'+number+": 1,
             '+integer': 1,
             'а': 1,
             'inter': 3,
             'numer': 1,
             "'-num": 1,
             '-A': 1,
             'c': 8,
             'neg': 4,
             "'-'": 1,
             'new': 4,
             'math': 3,
             'new_num': 2,
             '-to_read': 2,
             'np': 4,
             'int_': 3,
             'final_out': 2,
             'usr_num': 1,
             's1': 1,
             's2': 1,
             'a=-a': 1,
             'su': 1,
             'ad': 1,
             'XD': 3,
             'py': 4,
             '-value_1': 1,
             'd': 4,
             'user_integer': 1,
             '-2': 7,
             'number_1': 1,
             'number_2': 4,
             '-number_1': 1,
             'list': 2,
             '.join': 1,
             'number2': 2,
             '-value': 2,
             'minus_integer': 2,
             'out_put': 2,
             '-user_input': 1,
             '-xyz': 1,
             '.replace': 1,
             'sample': 4,
             'new_number': 2,
             'is_even': 2,
             'userNum': 1,
             'from': 1,
             'copysign': 1,
             'x=int': 2,
             'kiss': 2,
             'newnum': 2,
             '==0': 1,
             'n_number': 2,
             '-my_integer': 1,
             '0-n': 1,
             '=int': 1,
             'negative_number': 2,
             '-in_': 1,
             'positive': 1,
             '-sample': 1,
             'power_1': 2,
             'label': 2,
             'num=int': 1,
             'num=num': 1,
             'nn': 1,
             'int_a': 4,
             'm': 2,
             '-in_data': 1,
             'num/-1': 1,
             'n.replace': 1,
             'n.startswith': 1,
             'thing': 2,
             'num1': 2,
             'out': 2,
             'int_input': 3,
             'convert_number': 1,
             'inp': 2,
             'numero': 2,
             'zero': 2,
             'input_number': 1,
             'output_number': 1,
             'None': 1,
             'into_str': 2,
             '-current_number': 1,
             'num2': 2,
             'negative': 1,
             'N': 2,
             'negged_int': 1,
             'double': 1,
             'random': 4,
             'si': 4})

In [48]:
sorted_tuples = sorted(dict_token.items(), key=lambda item: item[1], reverse=True)
sorted_tuples

[('(', 816),
 (')', 741),
 (':', 357),
 ('*', 299),
 ('print', 292),
 ('=', 253),
 ('-1', 253),
 ('0', 245),
 ('a', 244),
 ('-', 236),
 ('if', 206),
 ('else', 191),
 ('number', 190),
 ('int', 190),
 ("''", 184),
 ('>', 184),
 ('num', 166),
 ('``', 149),
 ('+', 128),
 ('x', 113),
 ('input', 78),
 ('abs', 73),
 (',', 72),
 ('n', 69),
 ("'", 66),
 ('<', 61),
 ('str', 50),
 ("'-", 48),
 ('2', 46),
 ('integer', 43),
 ('-a', 42),
 ('-num', 40),
 ('{', 32),
 ('}', 32),
 ('==', 30),
 ('b', 30),
 ('-number', 27),
 ('1', 26),
 ('-int', 22),
 ('f', 22),
 (']', 21),
 ('!', 20),
 ('[', 20),
 ('-x', 19),
 ('user_input', 17),
 ('not', 15),
 ('elif', 15),
 ('value', 14),
 ('i', 13),
 ('return', 12),
 ('-n', 12),
 ('-abs', 11),
 ('y', 9),
 ('result', 9),
 ('567', 8),
 ('c', 8),
 ('def', 7),
 ('-2', 7),
 ('-i', 6),
 ('num_1', 6),
 ('-integer', 6),
 ("f'-", 6),
 ('user_number', 5),
 ('+a', 5),
 ('in', 5),
 ('is', 4),
 ('opposite', 4),
 ('negate', 4),
 ('-567', 4),
 ("'+", 4),
 ('nummer', 4),
 ('import', 4),
 ('minus', 4),
 ('year', 4),
 ('%', 4),
 ('or', 4),
 ('z', 4),
 ('counter', 4),
 ('int1', 4),
 ('/', 4),
 ('neg', 4),
 ('new', 4),
 ('np', 4),
 ('py', 4),
 ('d', 4),
 ('number_2', 4),
 ('sample', 4),
 ('int_a', 4),
 ('random', 4),
 ('si', 4),
 ('A', 3),
 ('val', 3),
 ('flip', 3),
 (';', 3),
 ('num_2', 3),
 ('-=', 3),
 ('+number', 3),
 ("'-'+", 3),
 ('integer_1', 3),
 ('Number', 3),
 ('+=', 3),
 ('0-a', 3),
 ("'-'+str", 3),
 ('0-number', 3),
 ('inter', 3),
 ('math', 3),
 ('int_', 3),
 ('XD', 3),
 ('int_input', 3),
 ('usr', 2),
 ('.toInt', 2),
 ('println', 2),
 ('oppositeSigns', 2),
 ('True', 2),
 ('False', 2),
 ('negative_num', 2),
 ('to_read', 2),
 ('o_np', 2),
 ('sep=', 2),
 ('answer', 2),
 ('pos_integer', 2),
 ('=0', 2),
 ('python', 2),
 ('intput', 2),
 ('+int', 2),
 ('neg_value', 2),
 ('Zahl', 2),
 ('args', 2),
 ('meow', 2),
 ('+num', 2),
 ('Enter', 2),
 ('negate_multiplier', 2),
 ('pos_neg_value', 2),
 ('number_min', 2),
 ('.format', 2),
 ('+str', 2),
 ('-input', 2),
 ('dig', 2),
 ('get_rid_of_minus', 2),
 ('while', 2),
 ('global', 2),
 ('user', 2),
 ('number=int', 2),
 ('k', 2),
 ('+x', 2),
 ('new_num', 2),
 ('-to_read', 2),
 ('final_out', 2),
 ('list', 2),
 ('number2', 2),
 ('-value', 2),
 ('minus_integer', 2),
 ('out_put', 2),
 ('new_number', 2),
 ('is_even', 2),
 ('x=int', 2),
 ('kiss', 2),
 ('newnum', 2),
 ('n_number', 2),
 ('negative_number', 2),
 ('power_1', 2),
 ('label', 2),
 ('m', 2),
 ('thing', 2),
 ('num1', 2),
 ('out', 2),
 ('inp', 2),
 ('numero', 2),
 ('zero', 2),
 ('into_str', 2),
 ('num2', 2),
 ('N', 2),
 ('integ', 1),
 ('readLine', 1),
 ('-readLine', 1),
 ('mod.num', 1),
 ('pritn', 1),
 ('3', 1),
 ('+1', 1),
 ('i+', 1),
 ('input.strip', 1),
 ("'-'integer", 1),
 ('ur_num', 1),
 ('|a|', 1),
 ('a.lstrip', 1),
 ('obs', 1),
 ('inout', 1),
 ('go', 1),
 ('fuck', 1),
 ('yourself', 1),
 ('+value_1', 1),
 ('numner', 1),
 ('&', 1),
 ('minus_number', 1),
 ('xyz', 1),
 ('enter', 1),
 ('an', 1),
 ('print-', 1),
 ('.fotmat', 1),
 ('sys', 1),
 ('sys.argv', 1),
 ('opposite_sign_assignment', 1),
 ('float', 1),
 ('x=input', 1),
 ('my_value', 1),
 ('+input', 1),
 ('-meow', 1),
 ('char', 1),
 ("'.format", 1),
 ('unput', 1),
 ('read', 1),
 ('inut', 1),
 ('-in', 1),
 ('isinstance', 1),
 ('x=', 1),
 ('x.isoppositsign', 1),
 ("'-a", 1),
 ("'Enter", 1),
 ('num=str', 1),
 ('4', 1),
 ('and', 1),
 ('100', 1),
 ('400', 1),
 ('Leap', 1),
 ('Ordinary', 1),
 ('numar', 1),
 ('eval', 1),
 ('Input', 1),
 ('the', 1),
 ('valid', 1),
 ('with', 1),
 ('sign', 1),
 ('-+a+', 1),
 ('a.pop', 1),
 ('iput', 1),
 ('math.copysign', 1),
 ('-0.0', 1),
 ('len', 1),
 ('try', 1),
 ('except', 1),
 ('intger', 1),
 ('pass', 1),
 ('conver_number', 1),
 ('esle', 1),
 ('Um', 1),
 ('valor', 1),
 ('go_str', 1),
 ('so_str', 1),
 ('ab', 1),
 ('prin', 1),
 ('current_number', 1),
 ('0-x', 1),
 ('-num_1', 1),
 ("'-'+input", 1),
 ('+a+', 1),
 ('zer_num', 1),
 ("'-'+number+", 1),
 ('+integer', 1),
 ('а', 1),
 ('numer', 1),
 ("'-num", 1),
 ('-A', 1),
 ("'-'", 1),
 ('usr_num', 1),
 ('s1', 1),
 ('s2', 1),
 ('a=-a', 1),
 ('su', 1),
 ('ad', 1),
 ('-value_1', 1),
 ('user_integer', 1),
 ('number_1', 1),
 ('-number_1', 1),
 ('.join', 1),
 ('-user_input', 1),
 ('-xyz', 1),
 ('.replace', 1),
 ('userNum', 1),
 ('from', 1),
 ('copysign', 1),
 ('==0', 1),
 ('-my_integer', 1),
 ('0-n', 1),
 ('=int', 1),
 ('-in_', 1),
 ('positive', 1),
 ('-sample', 1),
 ('num=int', 1),
 ('num=num', 1),
 ('nn', 1),
 ('-in_data', 1),
 ('num/-1', 1),
 ('n.replace', 1),
 ('n.startswith', 1),
 ('convert_number', 1),
 ('input_number', 1),
 ('output_number', 1),
 ('None', 1),
 ('-current_number', 1),
 ('negative', 1),
 ('negged_int', 1),
 ('double', 1)]